services:
  # Docker Hub:https://hub.docker.com/r/bitnami/parse
  # Github: https://github.com/parse-community/parse-server
  parse-server:
    container_name: parse-server
    image: bitnami/parse:6.2.1
    restart: unless-stopped
    ports:
      - "1337:1337"
    networks:
      parse:
        ipv4_address: "10.24.37.2"
    dns: ["192.168.40.253"]
    environment:
      PARSE_ENABLE_HTTPS: "no"
      PARSE_BIND_HOST: "127.0.0.1"
      PARSE_HOST: "127.0.0.1"
      PARSE_PORT_NUMBER: "1337"
      PARSE_APP_ID: "${PARSE_APP_ID}"
      PARSE_MASTER_KEY: "${PARSE_MASTER_KEY}"
      PARSE_APP_NAME: "${PARSE_APP_NAME}"
      PARSE_MOUNT_PATH: "/parse"
      PARSE_ENABLE_CLOUD_CODE: "no"
      PARSE_DATABASE_HOST: "parse-mongo"
      PARSE_DATABASE_PORT_NUMBER: "27017"
      PARSE_DATABASE_NAME: "parse"
      PARSE_DATABASE_USER: "parse"
      PARSE_DATABASE_PASSWORD: "${MONGODB_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Parse Server"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/parse-community/parse-server/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - parse-server-conf:/bitnami/parse
    depends_on:
      - parse-mongo

  # Docker Hub: https://hub.docker.com/r/bitnami/parse-dashboard
  # Github: https://github.com/parse-community/parse-dashboard
  parse-dashboard:
    container_name: parse-dashboard
    image: bitnami/parse-dashboard:latest
    restart: unless-stopped
    ports:
      - "4040:4040"
    networks:
      parse:
        ipv4_address: "10.24.37.3"
    dns: ["192.168.40.253"]
    environment:
      PARSE_DASHBOARD_ENABLE_HTTPS: "no"
      PARSE_DASHBOARD_EXTERNAL_HTTP_PORT_NUMBER: "80"
      PARSE_DASHBOARD_EXTERNAL_HTTPS_PORT_NUMBER: "80"
      PARSE_DASHBOARD_PARSE_HOST: "parse-server"
      PARSE_DASHBOARD_PORT_NUMBER: "4040"
      PARSE_DASHBOARD_PARSE_PORT_NUMBER: "1337"
      PARSE_DASHBOARD_PARSE_APP_ID: "${PARSE_APP_ID}"
      PARSE_DASHBOARD_APP_NAME: "${PARSE_APP_NAME}"
      PARSE_DASHBOARD_PARSE_MASTER_KEY: "${PARSE_MASTER_KEY}"
      PARSE_DASHBOARD_PARSE_MOUNT_PATH: "/parse"
      PARSE_DASHBOARD_PARSE_PROTOCOL: "http"
      PARSE_DASHBOARD_USERNAME: "admin"
      PARSE_DASHBOARD_PASSWORD: "${PARSE_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Parse Dashboard"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/parse-community/parse-dashboard/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - parse-dashboard-conf:/bitnami
    depends_on:
      - parse-server

  # Docker Hub: https://hub.docker.com/r/bitnami/mongodb
  parse-mongo:
    container_name: parse-mongo
    image: bitnami/mongodb:6
    restart: unless-stopped
    networks:
      parse:
        ipv4_address: "10.24.37.4"
    # ports:
    #   - '27017:27017'
    dns: ["192.168.40.253"]
    environment:
      MONGODB_ROOT_USER: "root"
      MONGODB_ROOT_PASSWORD: "${MONGODB_ROOT_PASSWORD}"
      MONGODB_DATABASE: "parse"
      MONGODB_USERNAME: "parse"
      MONGODB_PASSWORD: "${MONGODB_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Parse - MongoDB"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^\\d+$"
      - "wud.link.template=https://www.mongodb.com/docs/manual/release-notes/$${major}.$${minor}/#std-label-release-notes-$${major}.$${minor}"
    volumes:
      - parse-mongo-data:/bitnami/mongodb

networks:
  parse:
    name: parse
    ipam:
      driver: default
      config:
        - subnet: "10.24.37.0/24"
          gateway: "10.24.37.1"

volumes:
  parse-server-conf:
    name: parse-server-conf
  parse-dashboard-conf:
    name: parse-dashboard-conf
  parse-mongo-data:
    name: parse-mongo-data
