services:
  # Docker Hub: https://hub.docker.com/r/parseplatform/parse-server
  # Github: https://github.com/parse-community/parse-server
  parse-server:
    container_name: parse-server
    image: parseplatform/parse-server:5.5.5
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-c", "sleep 5;  node ./bin/parse-server"] #sleep few seconds for mongodb to come up
    ports:
      - "1337:1337"
    networks:
      parse:
        ipv4_address: "10.24.37.2"
    dns: ["192.168.40.253"]
    environment:
      PARSE_SERVER_APPLICATION_ID: "${PARSE_SERVER_APPLICATION_ID}"
      PARSE_SERVER_MASTER_KEY: "${PARSE_SERVER_MASTER_KEY}"
      PARSE_SERVER_DATABASE_URI: "mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@parse-mongo/parse_server?authSource=${MONGODB_USER}"
      PARSE_SERVER_MOUNT_PATH: "/parse"
      PARSE_ENABLE_CLOUD_CODE: "no"
      VERBOSE: 1
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Parse Server"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/parse-community/parse-server/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - parse-server-conf:/parse-server/config
    depends_on:
      - parse-mongo

  # Docker Hub: https://hub.docker.com/r/parseplatform/parse-dashboard
  parse-dashboard:
    container_name: parse-dashboard
    image: parseplatform/parse-dashboard:latest
    restart: unless-stopped
    ports:
      - "4040:4040"
    networks:
      parse:
        ipv4_address: "10.24.37.3"
    dns: ["192.168.40.253"]
    environment:
      PARSE_DASHBOARD_APP_ID: "${PARSE_SERVER_APPLICATION_ID}"
      PARSE_DASHBOARD_APP_NAME: "${PARSE_APP_NAME}"
      PARSE_DASHBOARD_MASTER_KEY: "${PARSE_SERVER_MASTER_KEY}"
      PARSE_DASHBOARD_USER_ID: "admin"
      PARSE_DASHBOARD_USER_PASSWORD: "${PARSE_DASHBOARD_USER_PASSWORD}"
      PARSE_DASHBOARD_ALLOW_INSECURE_HTTP: "true"
      PARSE_DASHBOARD_SERVER_URL: "http://parse-server:1337/parse"
      MOUNT_PATH: "/"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Parse Dashboard"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/parse-community/parse-dashboard/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - parse-dashboard-conf:/src/Parse-Dashboard
    depends_on:
      - parse-server

  # Docker Hub: https://hub.docker.com/_/mongo
  parse-mongo:
    container_name: parse-mongo
    image: mongo:6
    restart: unless-stopped
    networks:
      parse:
        ipv4_address: "10.24.37.4"
    # ports:
    #   - 27017:27017
    dns: ["192.168.40.253"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: "root"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_ROOT_PASSWORD}"
      MONGO_INITDB_DATABASE: "${MONGO_DATABASE}"
      MONGODB_APP_USER: "${MONGODB_USER}"
      MONGODB_APP_PWD: "${MONGODB_PASSWORD}"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Parse - MongoDB"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.link.template=https://www.mongodb.com/docs/manual/release-notes/$${major}.$${minor}/#std-label-release-notes-$${major}.$${minor}"
    volumes:
      - parse-mongo-data:/data/db
      - parse-mongo-dump:/dump
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

networks:
  parse:
    name: parse
    ipam:
      driver: default
      config:
        - subnet: "10.24.37.0/24"
          gateway: "10.24.37.1"

volumes:
  parse-server-conf:
    name: parse-server-conf
  parse-dashboard-conf:
    name: parse-dashboard-conf
  parse-mongo-data:
    name: parse-mongo-data
  parse-mongo-dump:
    name: parse-mongo-dump
