services:
  # https://hub.docker.com/r/3x3cut0r/glype-proxy
  glype-proxy:
    container_name: glype-proxy
    image: 3x3cut0r/glype-proxy:latest
    restart: always
    networks:
      webproxies:
        ipv4_address: "10.24.17.2"
    ports:
      - "2117:80"
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"
    volumes:
      - glype-proxy:/app

networks:
  webproxies:
    name: webproxies
    ipam:
      driver: default
      config:
        - subnet: "10.24.17.0/24"
          gateway: "10.24.17.1"

volumes:
  glype-proxy:
    name: glype-proxy
