services:
  # Docker Hub: https://hub.docker.com/r/louislam/uptime-kuma
  # Github: https://github.com/louislam/uptime-kuma
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:latest
    restart: always
    ports:
      - "2130:3001"
    networks:
      uptime-kuma:
        ipv4_address: "10.24.30.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Uptime Kuma"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/louislam/uptime-kuma/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - uptime-kuma-data:/app/data

networks:
  uptime-kuma:
    name: uptime-kuma
    ipam:
      driver: default
      config:
        - subnet: "10.24.30.0/24"
          gateway: "10.24.30.1"

volumes:
  uptime-kuma-data:
    name: uptime-kuma-data
