services:
  # Docker Hub: https://hub.docker.com/r/n8nio/n8n
  # Documentation: https://docs.n8n.io/hosting/installation/docker
  n8n:
    container_name: n8n
    image: docker.n8n.io/n8nio/n8n
    restart: unless-stopped
    ports:
      - "2142:5678"
    networks:
      n8n:
        ipv4_address: "10.24.42.2"
    dns: ["192.168.40.253"]
    environment:
      GENERIC_TIMEZONE: "Europe/Berlin"
      NODE_ENV: "production"
      DB_SQLITE_POOL_SIZE: 4
      N8N_DEFAULT_LOCALE: "de"
      N8N_DIAGNOSTICS_ENABLED: false
      N8N_VERSION_NOTIFICATIONS_ENABLED: false
      N8N_PROXY_HOPS: 1
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
      N8N_RUNNERS_ENABLED: true
      WEBHOOK_URL: "https://n8n.3x3cut0r.de/"
      VUE_APP_URL_BASE_API: "https://n8n.3x3cut0r.de/"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=n8n"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/n8n-io/n8n/releases/tag/n8n%40$${major}.$${minor}.$${patch}"
    volumes:
      - n8n-data:/home/node/.n8n

networks:
  n8n:
    name: n8n
    ipam:
      driver: default
      config:
        - subnet: "10.24.42.0/24"
          gateway: "10.24.42.1"

volumes:
  n8n-data:
    name: n8n-data
