services:
  # Docker Hub: https://hub.docker.com/r/n8nio/n8n
  # Documentation: https://docs.n8n.io/hosting/installation/docker
  n8n:
    container_name: n8n
    image: docker.n8n.io/n8nio/n8n:latest
    restart: unless-stopped
    ports:
      - "2142:5678"
    networks:
      n8n:
        ipv4_address: "10.24.42.2"
      ai-hub-postgres:
        ipv4_address: "10.118.16.42"
    dns: ["192.168.40.253"]
    environment:
      GENERIC_TIMEZONE: "Europe/Berlin"
      NODE_ENV: "production"
      DB_TYPE: "postgresdb"
      DB_POSTGRESDB_DATABASE: "n8n"
      DB_POSTGRESDB_HOST: "ai-hub-postgres"
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_USER: "n8n"
      DB_POSTGRESDB_PASSWORD: "${DB_POSTGRESDB_PASSWORD}"
      DB_SQLITE_POOL_SIZE: 4
      N8N_DEFAULT_LOCALE: "de"
      N8N_DIAGNOSTICS_ENABLED: false
      N8N_VERSION_NOTIFICATIONS_ENABLED: false
      N8N_PROXY_HOPS: 1
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
      N8N_RUNNERS_ENABLED: true
      WEBHOOK_URL: "https://n8n.3x3cut0r.de/"
      VUE_APP_URL_BASE_API: "https://n8n.3x3cut0r.de/"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=n8n"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/n8n-io/n8n/releases/tag/n8n%40$${major}.$${minor}.$${patch}"
    volumes:
      - n8n-data:/home/node/.n8n

  # Github: https://github.com/bbernhard/signal-cli-rest-api
  # Docker Hub: https://hub.docker.com/r/bbernhard/signal-cli-rest-api
  signal-cli-rest-api:
    container_name: signal-cli-rest-api
    image: bbernhard/signal-cli-rest-api:latest
    restart: unless-stopped
    ports:
      - "2442:8080"
    networks:
      n8n:
        ipv4_address: "10.24.42.3"
    environment:
      MODE: json-rpc # supported modes: json-rpc, native, normal
      # AUTO_RECEIVE_SCHEDULE: "0 22 * * *" # enable this parameter on demand (see description below)
      SIGNAL_CLI_UID: 1000
      SIGNAL_CLI_GID: 1000
      PORT: 8080
      LOG_LEVEL: info
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=signal-cli-rest-api"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/bbernhard/signal-cli-rest-api/releases/tag/$${major}.$${minor}"
    volumes:
      - signal-cli-rest-api-config:/home/.local/share/signal-cli"

networks:
  n8n:
    name: n8n
    ipam:
      driver: default
      config:
        - subnet: "10.24.42.0/24"
          gateway: "10.24.42.1"
  ai-hub-postgres:
    name: ai-hub-postgres
    external: true

volumes:
  n8n-data:
    name: n8n-data
  signal-cli-rest-api-config:
    name: signal-cli-rest-api-config
