services:
  # Docker Hub: https://hub.docker.com/r/blacklabelops/logrotate
  # Github: https://github.com/blacklabelops/logrotate
  logrotate:
    container_name: logrotate
    image: blacklabelops/logrotate:latest
    restart: unless-stopped
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin" # set timezone
      LOGS_DIRECTORIES: "/var/lib/docker/containers" # space separated list of directories
      LOGROTATE_INTERVAL: "daily" # hourly daily weekly monthly yearly
      LOGROTATE_COPIES: 14 # default: 5
      LOGROTATE_SIZE: 10M # k = kilobytes, M = Megabytes, G = Gigabytes
    # LOGROTATE_DATEFORMAT: '-%Y%m%d'
    # LOGROTATE_COMPRESSION: compress # enable file compression
    # LOGROTATE_OLDDIR: '/var/log/docker/old'
    # LOGROTATE_CRONSCHEDULE: '* * * * * *'
    # LOG_FILE: '/var/log/docker/cron.log'
    # LOGROTATE_AUTOUPDATE: true # default = true
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Logrotate"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/blacklabelops/logrotate/releases"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers
    # - /var/log/docker:/var/log/docker
