services:
  # Github: https://github.com/open-webui/mcpo
  # Available mcpo server: https://github.com/modelcontextprotocol/servers
  #
  # Example mcpo (stdio): time
  #   -> provides an OpenAPI server
  #   -> does NOT provide a MCP server
  #   -> supported by OpenWebUI
  #   -> NOT supported by LiteLLM
  #
  # mcp-time:
  #   container_name: mcp-time
  #   image: ghcr.io/open-webui/mcpo:main
  #   restart: unless-stopped
  #   command:
  #     ["--", "uvx", "mcp-server-time", "--local-timezone", "Europe/Berlin"]
  #   networks:
  #     mcp-gateways:
  #       ipv4_address: "10.24.43.2"

  # Docker Hub: https://hub.docker.com/r/docker/mcp-gateway
  # Available MCP servers: https://hub.docker.com/mcp
  #
  # Docker MCP gateway
  #   -> provides multiple MCP server
  #   -> provides multiple OpenAPI server (local mcpo/stdio server) via MCP
  #   -> is supported by LiteLLM
  #   -> LiteLLM can provide all server from this mcp-gateway to OpenWebUI
  mcp-docker:
    container_name: mcp-docker
    image: docker/mcp-gateway:latest
    restart: unless-stopped
    command:
      [
        "--transport=streaming",
        "--port=8080",
        "--servers=dockerhub,duckduckgo,fetch,time",
      ]
    networks:
      mcp-gateways:
        ipv4_address: "10.24.43.200"
    dns: ["192.168.40.253"]
    environment:
      HUB_PAT_TOKEN: # <HUB_PAT_TOKEN> # Docker Hub PAT token
    volumes:
      - /root/.docker/mcp:/root/.docker/mcp # config/secrets
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
  mcp-gateways:
    name: mcp-gateways
    ipam:
      driver: default
      config:
        - subnet: "10.24.43.0/24"
          gateway: "10.24.43.1"
