[Unit]
Description=Restart Rocket.Chat Docker container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker restart rocketchat
