[Unit]
Description=Timer to restart rocketchat docker container

[Timer]
OnCalendar=*-*-* 04:45:00
Persistent=true
Unit=docker-container-restart.service

[Install]
WantedBy=timers.target
