# https://github.com/3x3cut0r/docker/tree/main/404
services:
  # https://hub.docker.com/r/3x3cut0r/404
  "404":
    container_name: "404"
    image: 3x3cut0r/404:latest
    restart: unless-stopped
    ports:
      - "404:80"
    networks:
      "404":
        ipv4_address: "10.44.44.2"
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"
    environment:
      TZ: "Europe/Berlin"
      TITLE: "404 Not Found"
      LINK: "https://404.3x3cut0r.de"

networks:
  "404":
    name: "404"
    ipam:
      driver: default
      config:
        - subnet: "10.44.44.0/24"
          gateway: "10.44.44.1"
