services:
  # https://hub.docker.com/_/teamspeak
  teamspeak:
    container_name: teamspeak
    image: teamspeak:latest
    restart: unless-stopped
    networks:
      teamspeak:
        ipv4_address: '10.24.11.2'
      mariadb:
        ipv4_address: '10.20.0.111'
    ports:
      - '9987:9987/udp'
      - '10011:10011'
      - '30033:30033'
    dns:
      - '1.1.1.1'
      - '1.0.0.1'
      - '2606:4700:4700::1111'
      - '2606:4700:4700::1001'
    environment:
      TS3SERVER_LICENSE: 'accept'
      TS3SERVER_LICENSEPATH: '/var/ts3server'
      TS3SERVER_DB_SQLCREATEPATH: 'create_mariadb'
      TS3SERVER_DB_PLUGIN: 'ts3db_mariadb'
      TS3SERVER_DB_HOST: 'mariadb'
      TS3SERVER_DB_NAME: 'teamspeak'
      TS3SERVER_DB_USER: 'teamspeak'
      TS3SERVER_DB_PASSWORD: '<TS3SERVER_DB_PASSWORD>'
      TS3SERVER_LOG_APPEND: '1'
      TS3SERVER_LOG_QUERY_COMMANDS: '0'
      # TS3SERVER_DB_WAITUNTILREADY: '30'
    volumes:
      - /opt/docker/config-files/teamspeak/etc/logrotate.d/teamspeak3-server:/etc/logrotate.d/teamspeak3-server
      - teamspeak-data:/var/ts3server

networks:
  teamspeak:
    name: teamspeak
    ipam:
      driver: default
      config:
        - subnet: '10.24.11.0/24'
          gateway: '10.24.11.1'
  mariadb:
    name: mariadb
    external: true

volumes:
  teamspeak-data:
    name: teamspeak-data
