# https://hub.docker.com/r/linuxserver/wireguard
services:
  # https://github.com/linuxserver/docker-wireguard
  wireguard:
    container_name: wireguard
    image: linuxserver/wireguard:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    # sysctls:
    #   - net.ipv4.conf.all.src_valid_mark=1
    network_mode: host
    # ports:
    #   - '51820:51820/udp'
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"
    environment:
      TZ: "Europe/Berlin"
      PUID: "1000"
      PGID: "1000"
      SERVERURL: "wireguard.3x3cut0r.de"
      SERVERPORT: "51820"
      PEERS: "1" #optional
      PEERDNS: "1.1.1.1"
      INTERNAL_SUBNET: "10.40.0.0/24"
      ALLOWEDIPS: "0.0.0.0/0, ::0/0"
      PERSISTENTKEEPALIVE_PEERS: "25"
    volumes:
      - /opt/docker/config-files/wireguard:/config
      - /lib/modules:/lib/modules

  # https://hub.docker.com/r/ngoduykhanh/wireguard-ui
  wireguard-ui:
    container_name: wireguard-ui
    image: ngoduykhanh/wireguard-ui:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    network_mode: container:wireguard
    # ports:
    #   - '2215:5000'
    # dns:
    #   - '1.1.1.1'
    #   - '1.0.0.1'
    #   - '2606:4700:4700::1111'
    #   - '2606:4700:4700::1001'
    environment:
      BIND_ADDRESS: "0.0.0.0:5000"
      # SENDGRID_API_KEY: '<SENDGRID_API_KEY>'
      EMAIL_FROM_ADDRESS: "executor55@gmx.de"
      EMAIL_FROM_NAME: "3x3cut0r"
      SESSION_SECRET: "<SESSION_SECRET>"
      WGUI_USERNAME: "admin"
      WGUI_PASSWORD: "<WGUI_PASSWORD>"
      WGUI_ENDPOINT_ADDRESS: "202.61.227.25"
      WGUI_DNS: "1.1.1.1"
      WGUI_PERSISTENT_KEEPALIVE: "25"
      WGUI_FORWARD_MARK: "0xca6c"
      WGUI_CONFIG_FILE_PATH: "/etc/wireguard/wg0.conf"
      # defaults for server configuration
      WGUI_SERVER_INTERFACE_ADDRESSES: "10.40.0.0/24"
      WGUI_SERVER_LISTEN_PORT: "51820"
      WGUI_SERVER_POST_UP_SCRIPT: "iptables -A FORWARD -i %1 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth+ -j MASQUERADE"
      WGUI_SERVER_POST_DOWN_SCRIPT: "iptables -D FORWARD -i %1 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth+ -j MASQUERADE"
      # defaults to new clients
      WGUI_DEFAULT_CLIENT_ALLOWED_IPS: "0.0.0.0/0"
      # docker only
      WGUI_MANAGE_START: "true"
      WGUI_MANAGE_RESTART: "true"
    volumes:
      - /opt/docker/config-files/wireguard:/app/db
      - /opt/docker/config-files/wireguard:/etc/wireguard
    depends_on:
      - wireguard
