services:
  # Docker Hub: https://hub.docker.com/r/jdel/sspks
  sspks:
    container_name: sspks
    image: jdel/sspks:v1.3.0
    restart: unless-stopped
    networks:
      sspks:
        ipv4_address: "10.24.10.2"
    ports:
      - "2110:8080"
    dns: ["192.168.40.253"]
    environment:
      SSPKS_SITE_NAME: "3x3cut0r's Synology Packages"
      SSPKS_PACKAGES_DISTRIBUTOR_URL: "https://sspks.3x3cut0r.de"
      SSPKS_PACKAGES_FILE_MASK: "*.spk"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=SSPKS"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^v\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/jdel/sspks/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - sspks-packages:/packages
      - sspks-cache:/cache

networks:
  sspks:
    name: sspks
    ipam:
      driver: default
      config:
        - subnet: "10.24.10.0/24"
          gateway: "10.24.10.1"

volumes:
  sspks-packages:
    name: sspks-packages
  sspks-cache:
    name: sspks-cache
