services:
  # https://hub.docker.com/r/jdel/sspks
  sspks:
    container_name: sspks
    image: jdel/sspks:v1.1.6
    restart: unless-stopped
    networks:
      sspks:
        ipv4_address: "10.24.10.2"
    ports:
      - "2110:8080"
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"
    environment:
      SSPKS_SITE_NAME: "3x3cut0r's Synology Packages"
      SSPKS_PACKAGES_DISTRIBUTOR_URL: "https://sspks.3x3cut0r.de"
      SSPKS_PACKAGES_FILE_MASK: "*.spk"
    volumes:
      - sspks-packages:/packages
      - sspks-cache:/cache

networks:
  sspks:
    name: sspks
    ipam:
      driver: default
      config:
        - subnet: "10.24.10.0/24"
          gateway: "10.24.10.1"

volumes:
  sspks-packages:
    name: sspks-packages
  sspks-cache:
    name: sspks-cache
