services:
  # Docker Hub: https://hub.docker.com/r/networkstatic/iperf3
  # Github: https://github.com/esnet/iperf
  iperf3:
    container_name: iperf3
    image: networkstatic/iperf3:latest
    command: -s
    restart: unless-stopped
    ports:
      - "5201:5201"
    networks:
      iperf3:
        ipv4_address: "10.24.29.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=iperf3"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/esnet/iperf/releases/tag/$${major}.$${minor}.$${patch}"

networks:
  iperf3:
    name: iperf3
    ipam:
      driver: default
      config:
        - subnet: "10.24.29.0/24"
          gateway: "10.24.29.1"
