# https://github.com/esnet/iperf
services:
  # https://hub.docker.com/r/networkstatic/iperf3
  iperf3:
    container_name: iperf3
    image: networkstatic/iperf3:latest
    command: -s
    restart: unless-stopped
    ports:
      - "5201:5201"
    networks:
      iperf3:
        ipv4_address: "10.24.29.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"

networks:
  iperf3:
    name: iperf3
    ipam:
      driver: default
      config:
        - subnet: "10.24.29.0/24"
          gateway: "10.24.29.1"
