services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/calibre-web
  calibre:
    container_name: calibre
    image: lscr.io/linuxserver/calibre-web:latest
    restart: unless-stopped
    ports:
      - "2127:8083"
    networks:
      calibre:
        ipv4_address: "10.24.27.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      PUID: "1000"
      PGID: "1000"
      # DOCKER_MODS: linuxserver/calibre-web:calibre #optional
      # OAUTHLIB_RELAX_TOKEN_SCOPE: 1 #optional
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Calibre"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/kovidgoyal/calibre/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - calibre-books:/books
      - calibre-conf:/config

networks:
  calibre:
    name: calibre
    ipam:
      driver: default
      config:
        - subnet: "10.24.27.0/24"
          gateway: "10.24.27.1"

volumes:
  calibre-books:
    name: calibre-books
  calibre-conf:
    name: calibre-conf
