services:
  # Docker Hub: https://hub.docker.com/_/nextcloud
  nextcloud:
    container_name: nextcloud
    image: nextcloud:26-apache
    restart: unless-stopped
    networks:
      nextcloud:
        ipv4_address: "10.20.160.2"
      mariadb:
        ipv4_address: "10.20.0.210"
      redis:
        ipv4_address: "10.20.96.210"
      # coturn:
      #   ipv4_address: '10.20.224.210'
      # nginx:
      #   ipv4_address: '10.24.0.210'
    ports:
      - "2210:80"
      # - '4210:443'
    dns: ["192.168.40.253"]
    volumes:
      - nextcloud-html:/var/www/html
      - nextcloud-data:/var/www/html/data
      - /opt/docker/config-files/nextcloud/php-filesize.ini:/usr/local/etc/php/conf.d/php-filesize.ini
      # - /home/docker/config-files/nextcloud/000-default.conf:/etc/apache2/sites-available/000-default.conf
    environment:
      # MYSQL
      MYSQL_DATABASE: "nextcloud"
      MYSQL_USER: "nextcloud"
      MYSQL_PASSWORD: # <MYSQL_NEXTCLOUD_PASSWORD>
      MYSQL_HOST: "mariadb"
      # REDIS
      REDIS_HOST: "redis"
      REDIS_HOST_PORT: "6379"
      REDIS_HOST_PASSWORD: # <REDIS_HOST_PASSWORD>
      # REVERSE_PROXY
      # only if your nextcloud-container is behind a reverse proxy
      APACHE_DISABLE_REWRITE_IP: "1"
      TRUSTED_PROXIES: "10.20.160.1,192.168.40.1"
      OVERWRITEHOST: "nextcloud.3x3cut0r.de"
      OVERWRITEPROTOCOL: "https"
      # OVERWRITEWEBROOT: '/domain.tld/nextcloud'
      # OVERWRITECONDADDR: '^10\.0\.0\.1$'
      NC_DEFAULT_PHONE_REGION: "DE"

  # https://hub.docker.com/r/onlyoffice/documentserver
  onlyoffice-documentserver:
    container_name: onlyoffice-documentserver
    image: onlyoffice/documentserver:latest
    restart: unless-stopped
    networks:
      nextcloud:
        ipv4_address: "10.20.160.3"
    ports:
      - "4210:80"
    #   - '443:443'
    dns: ["192.168.40.253"]
    environment:
      JWT_SECRET: # <JWT_SECRET>
    #   ONLYOFFICE_HTTPS_HSTS_ENABLED: 'true'
    #   ONLYOFFICE_HTTPS_HSTS_MAXAGE: '31536000'
    #   SSL_CERTIFICATE_PATH: '/var/www/onlyoffice/Data/certs/onlyoffice.crt'
    #   SSL_KEY_PATH: '/var/www/onlyoffice/Data/certs/onlyoffice.key'
    #   SSL_DHPARAM_PATH: '/var/www/onlyoffice/Data/certs/dhparam.pem'
    #   SSL_VERIFY_CLIENT: 'false'
    volumes:
      - onlyoffice-documentserver-data:/var/www/onlyoffice/Data
      - onlyoffice-documentserver-log:/var/log/onlyoffice

networks:
  nextcloud:
    name: nextcloud
    ipam:
      driver: default
      config:
        - subnet: "10.20.160.0/20"
          gateway: "10.20.160.1"
  mariadb:
    name: mariadb
    external: true
  redis:
    name: redis
    external: true
  # coturn:
  #   name: coturn
  #   external: true

volumes:
  nextcloud-data:
    name: nextcloud-data
  nextcloud-html:
    name: nextcloud-html
  onlyoffice-documentserver-data:
    name: onlyoffice-documentserver-data
  onlyoffice-documentserver-log:
    name: onlyoffice-documentserver-log
