services:
  # Docker Hub: https://hub.docker.com/_/nextcloud
  # Github: https://github.com/nextcloud/server
  #
  # Installation
  #   On your Proxmox host (before deployment):
  #     chown -R 100033:100033 /rpool/data/nextcloud-data
  #
  #   On the nexcloud LXC container (after deployment):
  #     sudo docker exec --user www-data nextcloud php occ config:system:set default_phone_region --value="DE" # set default phone region to DE
  #     sudo docker exec --user www-data nextcloud php occ config:system:set maintenance_window_start --type=integer --value=1 # set maintenance window start to 1am (always 4h long -> 1am-5am)
  #     sudo docker exec --user www-data nextcloud php occ app:disable richdocumentscode # disable app richdocumentscode (makes nextcloud fast again)
  #     sudo docker exec --user www-data nextcloud php occ db:add-missing-indices # fix missing indices (must be done after many updates)
  #     sudo docker exec --user www-data nextcloud /bin/sh -c "apt update && apt install libmagickcore-6.q16-6-extra -y" # install image-magick
  #
  nextcloud:
    container_name: nextcloud
    image: nextcloud:31-apache
    restart: unless-stopped
    networks:
      nextcloud:
        ipv4_address: "10.20.160.2"
    ports:
      - "80:80"
      # - '443:443'
    environment:
      # NEXTCLOUD_ADMIN_USER: "3x3cut0r" # remove after first start
      # NEXTCLOUD_ADMIN_PASSWORD: "${NEXTCLOUD_ADMIN_PASSWORD}" # remove after first start
      NEXTCLOUD_TRUSTED_DOMAINS: "nextcloud.3x3cut0r.de"
      # POSTGRES
      POSTGRES_DB: "nextcloud"
      POSTGRES_USER: "nextcloud"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_HOST: "nextcloud-postgres"
      # REDIS
      REDIS_HOST: "nextcloud-redis"
      REDIS_HOST_PORT: "6379"
      REDIS_HOST_PASSWORD: "${REDIS_PASSWORD}"
      # REVERSE_PROXY
      # only if your nextcloud-container is behind a reverse proxy
      APACHE_DISABLE_REWRITE_IP: "1"
      APACHE_BODY_LIMIT: "1073741824"
      PHP_MEMORY_LIMIT: "1024G"
      PHP_UPLOAD_LIMIT: "16G" # post_max_size + upload_max_filesize
      TRUSTED_PROXIES: "10.20.160.1 192.168.40.10/24"
      OVERWRITEHOST: "nextcloud.3x3cut0r.de"
      OVERWRITEPROTOCOL: "https"
      # OVERWRITEWEBROOT: '/domain.tld/nextcloud'
      # OVERWRITECONDADDR: '^10\.0\.0\.1$'
      # EMAIL
      SMTP_HOST: "smtp.gmail.com"
      SMTP_SECURE: "tls"
      SMTP_PORT: "587"
      SMTP_AUTHTYPE: "LOGIN"
      SMTP_NAME: "${SMTP_NAME}"
      SMTP_PASSWORD: "${SMTP_PASSWORD}"
      MAIL_FROM_ADDRESS: "${SMTP_NAME}"
      MAIL_DOMAIN: "gmail.com"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Nextcloud"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/nextcloud/server/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - nextcloud-config:/var/www/html/config
      - /mnt/nextcloud-data:/var/www/html/data
    depends_on:
      - nextcloud-postgres
      - nextcloud-redis

  # Docker Hub: https://hub.docker.com/_/postgres
  # Github: https://github.com/postgres/postgres
  # Homepage: https://www.postgresql.org
  #
  # Installation
  #   On the nexcloud LXC container (after deployment):
  #     sudo docker exec nextcloud-postgres psql -U nextcloud -c "CREATE USER onlyoffice WITH PASSWORD '${ONLYOFFICE_POSTGRES_PASSWORD}';"
  #     sudo docker exec nextcloud-postgres psql -U nextcloud -c "CREATE DATABASE onlyoffice OWNER onlyoffice;"
  #     sudo docker exec nextcloud-postgres psql -U nextcloud -d onlyoffice -c "ALTER SCHEMA public OWNER TO onlyoffice;"
  #     sudo docker exec nextcloud-postgres psql -U nextcloud -d onlyoffice -c "GRANT USAGE, CREATE ON SCHEMA public TO onlyoffice;"
  #     # restart onlyoffice-documentserver after that
  #
  nextcloud-postgres:
    container_name: nextcloud-postgres
    image: postgres:17-alpine
    restart: always
    networks:
      nextcloud:
        ipv4_address: "10.20.160.3"
    # ports:
    #   - '5432:5432'
    environment:
      TZ: "Europe/Berlin"
      LANG: "de_DE.utf8"
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=de-DE"
      POSTGRES_DB: "nextcloud"
      POSTGRES_USER: "nextcloud"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Nextcloud - Postgres"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^17-alpine$"
      - "wud.link.template=https://www.postgresql.org/docs/release/$${major}.$${minor}"
    volumes:
      - nextcloud-postgres-data:/var/lib/postgresql/data

  # Docker Hub: https://hub.docker.com/_/redis
  # Github: https://github.com/redis/redis
  nextcloud-redis:
    container_name: nextcloud-redis
    image: redis:8-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"] # username = default
    restart: always
    networks:
      nextcloud:
        ipv4_address: "10.20.160.4"
    # ports:
    #     - 6379:6379
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Nextcloud - Redis"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - nextcloud-redis-data:/data

  # https://hub.docker.com/r/onlyoffice/documentserver
  # Github: https://github.com/ONLYOFFICE/Docker-DocumentServer
  onlyoffice-documentserver:
    container_name: onlyoffice-documentserver
    image: onlyoffice/documentserver:latest
    restart: unless-stopped
    networks:
      nextcloud:
        ipv4_address: "10.20.160.5"
    # ports:
    #   - "80:80"
    #   - '443:443'"]
    environment:
      JWT_ENABLED: "true"
      JWT_SECRET: "${JWT_SECRET}"
      SECURE_LINK_SECRET: "${SECURE_LINK_SECRET}"
      # Postgres
      DB_TYPE: "postgres"
      DB_HOST: "nextcloud-postgres"
      DB_NAME: "onlyoffice"
      DB_USER: "onlyoffice"
      DB_PWD: "${ONLYOFFICE_POSTGRES_PASSWORD}"
      DB_SCHEMA: "public"
      # Redis
      REDIS_SERVER_HOST: "nextcloud-redis"
      REDIS_SERVER_PORT: "6379"
      REDIS_SERVER_USER: "default"
      REDIS_SERVER_PASS: "${REDIS_PASSWORD}"
      REDIS_SERVER_DB: "1"
      ALLOW_PRIVATE_IP_ADDRESS: "true"
    #   ONLYOFFICE_HTTPS_HSTS_ENABLED: 'true'
    #   ONLYOFFICE_HTTPS_HSTS_MAXAGE: '31536000'
    #   SSL_CERTIFICATE_PATH: '/var/www/onlyoffice/Data/certs/onlyoffice.crt'
    #   SSL_KEY_PATH: '/var/www/onlyoffice/Data/certs/onlyoffice.key'
    #   SSL_DHPARAM_PATH: '/var/www/onlyoffice/Data/certs/dhparam.pem'
    #   SSL_VERIFY_CLIENT: 'false'
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=OnlyOffice Document Server"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/ONLYOFFICE/DocumentServer/blob/master/CHANGELOG.md#$${major}$${minor}$${patch}"
    volumes:
      - onlyoffice-documentserver-data:/var/www/onlyoffice/Data
      - onlyoffice-documentserver-log:/var/log/onlyoffice
    depends_on:
      - nextcloud-postgres
      - nextcloud-redis

networks:
  nextcloud:
    name: nextcloud
    ipam:
      driver: default
      config:
        - subnet: "10.20.160.0/20"
          gateway: "10.20.160.1"

volumes:
  nextcloud-data:
    name: nextcloud-data
  nextcloud-config:
    name: nextcloud-config
  nextcloud-postgres-data:
    name: nextcloud-postgres-data
  nextcloud-redis-data:
    name: nextcloud-redis-data
  onlyoffice-documentserver-data:
    name: onlyoffice-documentserver-data
  onlyoffice-documentserver-log:
    name: onlyoffice-documentserver-log
