services:
  # Docker Hub: https://hub.docker.com/r/jupyter/base-notebook
  # Github: https://github.com/jupyter/notebook
  # Homepage: https://jupyter-docker-stacks.readthedocs.io/en/latest/index.html
  jupyter-notebook:
    container_name: jupyter-notebook
    image: jupyter/base-notebook:latest
    restart: unless-stopped
    ports:
      - "2136:8888"
    networks:
      jupyter-notebook:
        ipv4_address: "10.24.36.2"
    dns: ["192.168.40.253"]
    user: root
    working_dir: /home/jupyter
    environment:
      TZ: "Europe/Berlin"
      CHOWN_HOME: yes
      NB_USER: "jupyter"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Jupyter Notebook"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/jupyter/notebook/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - jupyter-notebook-data:/home/jupyter

networks:
  jupyter-notebook:
    name: jupyter-notebook
    ipam:
      driver: default
      config:
        - subnet: "10.24.36.0/24"
          gateway: "10.24.36.1"

volumes:
  jupyter-notebook-data:
    name: jupyter-notebook-data
