services:
  # Docker Hub: https://hub.docker.com/r/coturn/coturn
  # Github: https://github.com/coturn/coturn
  coturn:
    container_name: coturn
    image: coturn/coturn:latest
    restart: unless-stopped
    command: [
        "-n",
        "--verbose",
        "--listening-port=3478",
        "--tls-listening-port=5349",
        "--log-file=stdout",
        "--min-port=49160",
        "--max-port=49200",
        "--lt-cred-mech",
        "--fingerprint",
        "--no-multicast-peers",
        "--allocation-default-address-family=ipv4",
        "--no-cli",
        "--no-tlsv1",
        "--no-tlsv1_1",
        "--realm=turn.3x3cut0r.de",
        "--server-name=turn.3x3cut0r.de",
        "--external-ip=152.53.181.185",
        "--check-origin-consistency",
        # "--userdb=/var/lib/coturn/turndb",
        "--psql-userdb=postgresql://coturn:${POSTGRES_PASSWORD}@127.0.0.1:5432/coturn",
        "--redis-statsdb=redis://default:${REDIS_PASSWORD}@127.0.0.1:6379",
        "--use-auth-secret",
        "--static-auth-secret=${TURN_SECRET}",
        "--cert=/etc/coturn/fullchain.pem",
        "--pkey=/etc/coturn/privkey.pem",
        "--CA-file=/etc/coturn/ca.pem",
        "--dh-file=/etc/coturn/dhparam.pem",
        "--ec-curve-name=prime256v1",
        "--cipher-list=ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384",
        "--log-file=stdout",
        "--stale-nonce=600",
        "--pidfile=/var/run/turnserver.pid",
        "--web-admin",
        "--web-admin-ip=0.0.0.0",
        "--web-admin-port=8080",
        "--no-rfc5780",
        "--no-stun-backward-compatibility",
        "--response-origin-only-with-rfc5780",
      ]
    network_mode: host # for docker rootful only!
    # ports:
    #   - "2214:8214" # web-admin
    #   - '3478:3478'
    #   - '3478:3478/udp'
    #   - '5349:5349' # tls-listening-port
    #   - '5349:5349/udp' # tls-listening-port
    #   - '49152-49200:49152-49200/udp' # too many ports kills docker rootless. rootful docker with network=host is recommended!
    # networks:
    #   coturn:
    #     ipv4_address: '10.20.224.2'
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=CoTURN"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/coturn/coturn/blob/master/ChangeLog"
    volumes:
      - /opt/certs/cert.pem:/etc/coturn/cert.pem
      - /opt/certs/privkey.pem:/etc/coturn/privkey.pem
      - /opt/certs/ca.pem:/etc/coturn/ca.pem
      - /opt/certs/dhparam.pem:/etc/coturn/dhparam.pem
      - coturn-data:/var/lib/coturn

  # Docker Hub: https://hub.docker.com/_/postgres
  # Github: https://github.com/postgres/postgres
  # Homepage: https://www.postgresql.org
  coturn-postgres:
    container_name: coturn-postgres
    image: postgres:18-alpine
    restart: always
    network_mode: host
    # ports:
    #   - '5432:5432'
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      POSTGRES_DB: "coturn"
      POSTGRES_USER: "coturn"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Postgres - CoTURN"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://www.postgresql.org/docs/release/$${major}.$${minor}"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - /opt/docker/config-files/postgres/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro

  # Docker Hub: https://hub.docker.com/_/redis
  # Github: https://github.com/redis/redis
  coturn-redis:
    container_name: coturn-redis
    image: redis:8-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"] # username = default
    restart: always
    network_mode: host
    # ports:
    #     - 6379:6379
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Redis - CoTURN"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - coturn-redis-data:/data

  # Docker Hub: https://hub.docker.com/r/strukturag/nextcloud-spreed-signaling
  # Github: https://github.com/strukturag/nextcloud-spreed-signaling
  nextcloud-spreed-signaling:
    container_name: nextcloud-spreed-signaling
    image: strukturag/nextcloud-spreed-signaling:latest
    restart: unless-stopped
    network_mode: host
    # ports:
    #   - '2214:8080'
    #   - "4214:8443"
    # networks:
    #   coturn:
    #     ipv4_address: '10.20.224.3'
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      HTTP_LISTEN: "127.0.0.1:8080"
      # HTTPS_LISTEN: '127.0.0.1:8443'
      HASH_KEY: "${HASH_KEY}"
      BLOCK_KEY: "${BLOCK_KEY}"
      INTERNAL_SHARED_SECRET_KEY: "${INTERNAL_SHARED_SECRET_KEY}"
      BACKENDS: "1"
      BACKEND_1_URL: "https://nextcloud.3x3cut0r.de"
      BACKEND_1_SHARED_SECRET: "${BACKEND_1_SHARED_SECRET}"
      STATS_IPS: "192.168.40.214"
      TURN_API_KEY: "${TURN_API_KEY}"
      TURN_SECRET: "${TURN_SECRET}"
      TURN_SERVERS: "turn:turn.3x3cut0r.de:3468"
      USE_JANUS: "1"
      JANUS_URL: "ws://192.168.40.214:8188"
      NATS_URL: "nats://natsuser:${NATS_PASSWORD}@192.168.40.214:4222"
      GEOIP_LICENSE: "${GEOIP_LICENSE}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=CoTURN - Nextcloud Spreed Signaling"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/strukturag/nextcloud-spreed-signaling/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - /opt/certs/fullchain.pem:/etc/nginx/ssl/server.crt
      - /opt/certs/privkey.pem:/etc/nginx/ssl/server.key

  # Docker Hub: https://hub.docker.com/r/canyan/janus-gateway
  # Github: https://github.com/meetecho/janus-gateway
  janus:
    container_name: janus
    image: canyan/janus-gateway:latest
    restart: unless-stopped
    network_mode: host
    command:
      [
        "janus",
        "--pidfile=/var/run/janus.pid",
        "--interface=192.168.40.214",
        "--cert-pem=/usr/local/etc/janus/fullchain.pem",
        "--cert-key=/usr/local/etc/janus/privkey.pem",
        "--full-trickle",
        "--stun-server=127.0.0.1:3468",
        "--server-name=name=3x3cut0r's Janus Gateway",
        "--token-auth",
        "--token-auth-secret=${JANUS_TOKEN_AUTH_SECRET}",
        "--apisecret=${JANUS_APISECRET}",
      ]
    # ports:
    #   - '8088:8088' # HTTP webserver
    #   - '8188:8188' # WebSockets server
    # networks:
    #   coturn:
    #     ipv4_address: '10.20.224.10'
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=CoTURN - Janus Gateway"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/meetecho/janus-gateway/blob/master/CHANGELOG.md"
    # volumes:
    #   - "/opt/docker/config-files/janus/janus.jcfg:/usr/local/etc/janus/janus.jcfg"
    #   - "./etc/janus/janus.eventhandler.sampleevh.jcfg:/usr/local/etc/janus/janus.eventhandler.sampleevh.jcfg"

  # Docker Hub: https://hub.docker.com/_/nats
  # Github: https://github.com/nats-io/nats-server
  nats:
    container_name: nats
    image: nats:2-alpine
    restart: unless-stopped
    network_mode: host
    command:
      [
        "--port=4222",
        "--log_size_limit=2048",
        "--cluster_name=nats_cluster",
        "--user=natsuser",
        "--pass=${NATS_PASSWORD}",
      ]
    # ports:
    #   - '4222:4222' # client connections
    #   - '6222:6222' # route connections
    #   - '8222:8222' # http monitor
    # networks:
    #   coturn:
    #     ipv4_address: '10.20.224.42'
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=CoTURN - NATS"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/nats-io/nats-server/releases/tag/v$${major}.$${minor}.$${patch}"

# networks:
#   coturn:
#     name: coturn
#     ipam:
#       driver: default
#       config:
#         - subnet: '10.20.224.0/24'
#           gateway: '10.20.224.1'

volumes:
  coturn-data:
    name: coturn-data
  coturn-postgres-data:
    name: coturn-postgres-data
  coturn-redis-data:
    name: coturn-redis-data
