services:
  # Github: https://github.com/treyyoder/quakejs-docker
  quakejs:
    container_name: quakejs
    image: treyyoder/quakejs:latest
    restart: unless-stopped
    networks:
      quakejs:
        ipv4_address: "10.24.14.2"
    dns: ["192.168.40.253"]
    ports:
      - "3333:80"
      - "27960:27960"
    environment:
      SERVER: "3x3cut0r.de"
      HTTP_PORT: "3333"
    volumes:
      - /opt/docker/config-files/quakejs/server.cfg:/quakejs/base/baseq3/server.cfg
      - /opt/docker/config-files/quakejs/server.cfg:/quakejs/base/cpma/server.cfg

networks:
  quakejs:
    name: quakejs
    ipam:
      driver: default
      config:
        - subnet: "10.24.14.0/24"
          gateway: "10.24.14.1"
