services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/
  # Github: https://github.com/linuxserver/docker-heimdall
  heimdall:
    container_name: heimdall
    image: linuxserver/heimdall:latest
    restart: unless-stopped
    ports:
      - "2128:80"
      # - "443:443"
    networks:
      heimdall:
        ipv4_address: "10.24.28.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      UID: "1000"
      GID: "1000"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Heimdall"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/linuxserver/docker-heimdall/releases"
    volumes:
      - heimdall-conf:/config

networks:
  heimdall:
    name: heimdall
    ipam:
      driver: default
      config:
        - subnet: "10.24.28.0/24"
          gateway: "10.24.28.1"

volumes:
  heimdall-conf:
    name: heimdall-conf
