services:
  # https://hub.docker.com/r/portainer/portainer-ce
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:alpine
    restart: always
    networks:
      portainer:
        ipv4_address: "10.24.1.2"
    ports:
      # - '8000:8000'
      - "2101:9000"
    environment:
      COMPOSE_HTTP_TIMEOUT: "240"
    dns: ["192.168.40.253"]
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Portainer"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^alpine$"
      - "wud.link.template=https://github.com/portainer/portainer/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data

networks:
  portainer:
    name: portainer
    ipam:
      driver: default
      config:
        - subnet: "10.24.1.0/24"
          gateway: "10.24.1.1"

volumes:
  portainer-data:
    name: portainer-data
