services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/dokuwiki
  # Github: https://github.com/linuxserver/docker-dokuwiki
  dokuwiki:
    container_name: dokuwiki
    image: lscr.io/linuxserver/dokuwiki:latest
    restart: unless-stopped
    ports:
      - "2123:80"
      # - "443:443"
    networks:
      dokuwiki:
        ipv4_address: "10.24.23.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      # PUID: "1000"
      # PGID: "1000"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=DokuWiki"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/linuxserver/docker-dokuwiki/releases"
    volumes:
      - dokuwiki-conf:/config

networks:
  dokuwiki:
    name: dokuwiki
    ipam:
      driver: default
      config:
        - subnet: "10.24.23.0/24"
          gateway: "10.24.23.1"

volumes:
  dokuwiki-conf:
    name: dokuwiki-conf
