services:
  # Docker Hub: https://hub.docker.com/r/guacamole/
  # Github: https://github.com/apache/guacamole-server
  guacd:
    container_name: guacd
    image: guacamole/guacd:1.6.0
    restart: unless-stopped
    # ports:
    # - '4822:4822'
    networks:
      guacamole:
        ipv4_address: "10.20.176.2"
      # nginx:
      #     ipv4_address: 10.24.0.199
    dns: ["192.168.40.253"]
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=GUACD"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/apache/guacamole-server/releases/tag/$${major}.$${minor}.$${patch}"

  # https://hub.docker.com/r/guacamole/guacamole
  guacamole:
    container_name: guacamole
    image: guacamole/guacamole:1.6.0
    restart: unless-stopped
    ports:
      - "2211:8080"
    networks:
      guacamole:
        ipv4_address: "10.20.176.3"
      mariadb:
        ipv4_address: "10.20.0.211"
    dns: ["192.168.40.253"]
    environment:
      GUACD_HOSTNAME: "guacd"
      MYSQL_HOSTNAME: "mariadb"
      MYSQL_DATABASE: "guacamole"
      MYSQL_USER: "guacamole"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Guacamole"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/apache/guacamole-server/releases/tag/$${major}.$${minor}.$${patch}"
    depends_on:
      - guacd
      # - mariadb // depends_on not working for external services!

networks:
  guacamole:
    name: guacamole
    ipam:
      driver: default
      config:
        - subnet: "10.20.176.0/20"
          gateway: "10.20.176.1"
  mariadb:
    name: mariadb
    external: true
