services:
  # Github: https://github.com/AzuraCast/AzuraCast
  azuracast:
    container_name: azuracast
    image: ghcr.io/azuracast/web:latest
    restart: unless-stopped
    env_file: ../../env-files/azuracast.env
    ports:
      - "2126:80"
      # - "443:443"
      - "2022:2022"
    networks:
      azuracast:
        ipv4_address: 10.24.26.2
      mariadb:
        ipv4_address: 10.20.0.126
      redis-nopw:
        ipv4_address: 10.20.112.126
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      LANG: "en_US.UTF-8"
      AZURACAST_DC_REVISION: "13"
      AZURACAST_VERSION: "latest"
      AZURACAST_SFTP_PORT: "2022"
      NGINX_TIMEOUT: "1800"
      LETSENCRYPT_HOST: ""
      LETSENCRYPT_EMAIL: ""
      PUID: "1000"
      PGID: "1000"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=AzuraCast Web"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/AzuraCast/AzuraCast/blob/main/CHANGELOG.md"
    volumes:
      - azuracast-letsencrypt:/etc/nginx/certs
      - azuracast-letsencrypt-acme:/etc/acme.sh
      - azuracast-www-vendor:/var/azuracast/www/vendor
      - azuracast-www-uploads:/var/azuracast/uploads
      - azuracast-tmp-data:/var/azuracast/www_tmp
      - azuracast-stations-data:/var/azuracast/stations
      - azuracast-shoutcast2-install:/var/azuracast/servers/shoutcast2
      - azuracast-geolite-install:/var/azuracast/geoip
      - azuracast-sftpgo-data:/var/azuracast/sftpgo/persist
      - azuracast-backups:/var/azuracast/backups
    depends_on:
      - stations
      - redis

  # Github: https://github.com/azuracast/docker-azuracast-radio/pkgs/container/radio
  stations:
    container_name: azuracast-stations
    image: ghcr.io/azuracast/radio:latest
    restart: unless-stopped
    init: true
    ports:
      # This default mapping is the outgoing and incoming ports for the first 50 stations.
      # You can override this port mapping in your own docker-compose.override.yml file.
      # For instructions, see:
      # https://docs.azuracast.com/en/administration/docker#expanding-the-station-port-range
      - "8500-8999:8500-8999"
    networks:
      azuracast:
        ipv4_address: 10.24.26.3
    environment:
      PUID: "1000"
      PGID: "1000"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=AzuraCast Stations"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/AzuraCast/AzuraCast/blob/main/CHANGELOG.md"
    volumes:
      - azuracast-stations-data:/var/azuracast/stations
      - azuracast-shoutcast2-install:/var/azuracast/servers/shoutcast2
      - azuracast-letsencrypt:/etc/nginx/certs
      - azuracast-tmp-data:/var/azuracast/www_tmp

  # Docker Hub: https://hub.docker.com/_/redis
  # Github: https://github.com/redis/redis
  redis:
    container_name: azuracast-redis
    image: redis:6-alpine
    restart: always
    networks:
      azuracast:
        ipv4_address: 10.24.26.4
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Azuracast - Redis"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"

networks:
  azuracast:
    name: azuracast
    ipam:
      driver: default
      config:
        - subnet: "10.24.26.0/24"
          gateway: 10.24.26.1
  mariadb:
    external:
      name: mariadb

volumes:
  azuracast-letsencrypt:
    name: azuracast-letsencrypt
  azuracast-letsencrypt-acme:
    name: azuracast-letsencrypt-acme
  azuracast-www-vendor:
    name: azuracast-www-vendor
  azuracast-www-uploads:
    name: azuracast-www-uploads
  azuracast-tmp-data:
    name: azuracast-tmp-data
  azuracast-shoutcast2-install:
    name: azuracast-shoutcast2-install
  azuracast-geolite-install:
    name: azuracast-geolite-install
  azuracast-sftpgo-data:
    name: azuracast-sftpgo-data
  azuracast-backups:
    name: azuracast-backups
  azuracast-stations-data:
    name: azuracast-stations-data
