services:
  web:
    ports:
      - "${AZURACAST_HTTP_PORT:-80}:80"
      - "${AZURACAST_HTTPS_PORT:-443}:443"
      - "${AZURACAST_SFTP_PORT:-2022}:2022"
      - "8010-8499:8010-8499"
    volumes:
      - /opt/certs/fullchain.pem:/var/azuracast/acme/ssl.crt:ro
      - /opt/certs/privkey.pem:/var/azuracast/acme/ssl.key:ro
