services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/paperless-ngx
  # Documentation: https://docs.paperless-ngx.com/configuration/#required-services
  paperless:
    container_name: paperless
    image: paperlessngx/paperless-ngx:latest
    restart: unless-stopped
    ports:
      - "2121:8000"
    networks:
      paperless:
        ipv4_address: "10.24.21.2"
    dns: ["192.168.40.253"]
    environment:
      PAPERLESS_TIME_ZONE: "Europe/Berlin"
      PAPERLESS_ADMIN_USER: "admin"
      PAPERLESS_ADMIN_MAIL: "julianreith@gmx.de"
      PAPERLESS_ADMIN_PASSWORD: "${PAPERLESS_ADMIN_PASSWORD}"
      PAPERLESS_URL: "https://paperless.3x3cut0r.de"
      PAPERLESS_ALLOWED_HOSTS: "paperless.3x3cut0r.de,localhost"
      PAPERLESS_CORS_ALLOWED_HOSTS: "https://paperless.3x3cut0r.de,http://localhost:8000,http://localhost"
      PAPERLESS_CSRF_TRUSTED_ORIGINS: "https://paperless.3x3cut0r.de"
      PAPERLESS_COOKIE_PREFIX: "paperless_"
      PAPERLESS_SECRET_KEY: "${PAPERLESS_SECRET_KEY}"
      PAPERLESS_REDIS: "redis://default:${REDIS_PASSWORD}@paperless-redis:6379"
      PAPERLESS_DB_READ_CACHE_ENABLED: true
      PAPERLESS_DBENGINE: "postgresql"
      PAPERLESS_DBHOST: "paperless-postgres"
      PAPERLESS_DBPORT: "5432"
      PAPERLESS_DBNAME: "paperless"
      PAPERLESS_DBUSER: "paperless"
      PAPERLESS_DBPASS: "${POSTGRES_PASSWORD}"
      PAPERLESS_TIKA_ENABLED: true
      PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
      PAPERLESS_EMAIL_PARSE_DEFAULT_LAYOUT: 1
      PAPERLESS_OCR_MODE: skip # choices: skip, redo, force
      PAPERLESS_OCR_LANGUAGES: "deu eng" # https://tesseract-ocr.github.io/tessdoc/Data-Files-in-different-versions.html
      PAPERLESS_OCR_LANGUAGE: "deu+eng"
      PAPERLESS_DATE_PARSER_LANGUAGES: "de+en"
      PAPERLESS_ENABLE_UPDATE_CHECK: false
      # PAPERLESS_APP_TITLE: "Paperless-ngx"
      # PAPERLESS_APP_LOGO: "/logo/Atari_logo.svg"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Paperless-NGX"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/paperless-ngx/paperless-ngx/releases/tag$${major}.$${minor}.$${patch}"
    volumes:
      - paperless-data:/usr/src/paperless/data
      - paperless-media:/usr/src/paperless/media
      - paperless-consume:/usr/src/paperless/consume
      - paperless-export:/usr/src/paperless/export

  # Docker Hub: https://hub.docker.com/r/apache/tika
  # GitHub: https://github.com/apache/tika
  paperless-tika:
    container_name: paperless-tika
    image: apache/tika:latest # latest-full to add GDAL and Tesseract OCR support
    restart: always
    # ports:
    #   - '9998:9998'
    networks:
      paperless:
        ipv4_address: "10.24.21.3"
    dns: ["192.168.40.253"]
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Paperless-NGX - Tika"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://tika.apache.org/"

  # Docker Hub: https://hub.docker.com/r/gotenberg/gotenberg
  # Github: https://github.com/gotenberg/gotenberg
  paperless-gotenberg:
    container_name: paperless-gotenberg
    image: gotenberg/gotenberg:latest
    restart: always
    # ports:
    #   - '3000:3000'
    networks:
      paperless:
        ipv4_address: "10.24.21.4"
    dns: ["192.168.40.253"]
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Paperless-NGX - Gotenberg"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/gotenberg/gotenberg/releases/tag/v$${major}.$${minor}.$${patch}"

  # Docker Hub: https://hub.docker.com/_/postgres
  paperless-postgres:
    container_name: paperless-postgres
    image: postgres:18-alpine
    restart: always
    # ports:
    #   - '5432:5432'
    networks:
      paperless:
        ipv4_address: "10.24.21.5"
    dns: ["192.168.40.253"]
    environment:
      POSTGRES_DB: "paperless"
      POSTGRES_USER: "paperless"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Paperless-NGX - Postgres"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.link.template=https://www.postgresql.org/docs/release/$${major}.$${minor}"
    volumes:
      - paperless-postgres-data:/var/lib/postgresql/data

  # Docker Hub: https://hub.docker.com/_/redis
  paperless-redis:
    container_name: paperless-redis
    image: redis:8-alpine
    restart: always
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"] # username = default
    # ports:
    #     - 6379:6379
    networks:
      paperless:
        ipv4_address: "10.24.21.6"
    dns: ["192.168.40.253"]
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Paperless-NGX - Redis"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - paperless-redis-data:/data

networks:
  paperless:
    name: paperless
    ipam:
      driver: default
      config:
        - subnet: "10.24.21.0/24"
          gateway: "10.24.21.1"

volumes:
  paperless-data:
    name: paperless-data
  paperless-media:
    name: paperless-media
  paperless-consume:
    name: paperless-consume
  paperless-export:
    name: paperless-export
  paperless-postgres-data:
    name: paperless-postgres-data
  paperless-redis-data:
    name: paperless-redis-data
