services:
  # Docker Hub:https://hub.docker.com/r/3x3cut0r/whisper-gui
  # Github: https://github.com/Pikurrot/whisper-gui
  whisper-gui:
    container_name: whisper-gui
    image: 3x3cut0r/whisper-gui:latest
    restart: unless-stopped
    ports:
      - "2140:7860"
    networks:
      whisper-gui:
        ipv4_address: "10.24.40.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      LANGUAGE: "de"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Whisper GUI"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/Pikurrot/whisper-gui/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - whisper-gui-data:/whisper-gui/outputs

networks:
  whisper-gui:
    name: whisper-gui
    ipam:
      driver: default
      config:
        - subnet: "10.24.40.0/24"
          gateway: "10.24.40.1"

volumes:
  whisper-gui-data:
    name: whisper-gui-data
