# https://github.com/.../...
services:
  # https://hub.docker.com/r/...
  skel:
    container_name: skel
    image: app/image:tag
    restart: unless-stopped
    env_file: ../../env-files/skel.env # correct (relative-) path for portainer
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://<ip>:514"
    ports:
      - "80:80"
    networks:
      skel:
        ipv4_address: "10.24.99.2"
    dns:
      - "1.1.1.1"
      - "1.0.0.1"
      - "2606:4700:4700::1111"
      - "2606:4700:4700::1001"
    environment:
      TZ: "Europe/Berlin"
      UID: "1000"
      GID: "1000"
    volumes:
      - skel-data:/var/www/html
      - skel-conf:/etc/skel
      - /home/docker/config-files/skel/:/var/www/html
    depends_on:
      - app

networks:
  skel:
    name: skel
    ipam:
      driver: default
      config:
        - subnet: "10.24.99.0/24"
          gateway: "10.24.99.1"
  # network_ext:
  #   name: network_ext
  #   external: true

volumes:
  skel-data:
    name: skel-data
  skel-conf:
    name: skel-conf
