services:
  # Docker Hub: https://hub.docker.com/r/...
  # Github: https://github.com/.../...
  skel:
    container_name: skel
    image: app/image:tag
    restart: unless-stopped
    env_file: ../../env-files/skel.env # correct (relative-) path for portainer
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://<ip>:514"
    ports:
      - "80:80"
    networks:
      skel:
        ipv4_address: "10.24.99.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      UID: "1000"
      GID: "1000"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=skel"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/skel/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - skel-data:/var/www/html
      - skel-conf:/etc/skel
      - /home/docker/config-files/skel/:/var/www/html
    depends_on:
      - app

networks:
  skel:
    name: skel
    ipam:
      driver: default
      config:
        - subnet: "10.24.99.0/24"
          gateway: "10.24.99.1"
  # network_ext:
  #   name: network_ext
  #   external: true

volumes:
  skel-data:
    name: skel-data
  skel-conf:
    name: skel-conf
