services:
  # Docker Hub: https://hub.docker.com/r/containrrr/watchtower
  # Github: https://github.com/containrrr/watchtower
  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    command: --cleanup --rolling-restart --schedule "0 0 4 * * *"
    restart: always
    networks:
      watchtower:
        ipv4_address: "10.24.3.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=WatchTower"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/containrrr/watchtower/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  watchtower:
    name: watchtower
    ipam:
      driver: default
      config:
        - subnet: "10.24.3.0/24"
          gateway: "10.24.3.1"
