services:
  # Docker Hub: https://hub.docker.com/r/ngoduykhanh/wireguard-ui
  # Github: https://github.com/ngoduykhanh/wireguard-ui
  wireguard-ui:
    container_name: wireguard-ui
    image: ngoduykhanh/wireguard-ui:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    network_mode: host
    environment:
      BIND_ADDRESS: "0.0.0.0:5000"
      SESSION_SECRET: "${SESSION_SECRET}"
      WGUI_USERNAME: "admin"
      WGUI_PASSWORD: "${WGUI_PASSWORD}"
      WGUI_ENDPOINT_ADDRESS: "wireguard.3x3cut0r.synology.me:51820"
      WGUI_DNS: "192.168.40.253"
      WGUI_PERSISTENT_KEEPALIVE: "25"
      WGUI_CONFIG_FILE_PATH: "/etc/wireguard/wg0.conf"
      # defaults for server configuration
      WGUI_SERVER_INTERFACE_ADDRESSES: "10.7.0.1/24"
      WGUI_SERVER_LISTEN_PORT: "51820"
      WGUI_SERVER_POST_UP_SCRIPT: "iptables -A FORWARD -i %1 -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth+ -j MASQUERADE"
      WGUI_SERVER_POST_DOWN_SCRIPT: "iptables -D FORWARD -i %1 -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth+ -j MASQUERADE"
      # defaults to new clients
      WGUI_DEFAULT_CLIENT_ALLOWED_IPS: "0.0.0.0/0"
      # docker only
      WGUI_MANAGE_START: "false"
      WGUI_MANAGE_RESTART: "true"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=WireGuard-UI"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/ngoduykhanh/wireguard-ui/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - /opt/wireguard/db:/app/db
      - /etc/wireguard:/etc/wireguard

networks:
  wireguard:
    name: wireguard
    ipam:
      driver: default
      config:
        - subnet: "10.20.240.0/24"
          gateway: "10.20.240.1"

volumes:
  wireguard-conf:
    name: wireguard-conf
