services:
  # Docker Hub: https://github.com/open-webui/open-webui
  # Github: https://github.com/open-webui/open-webui
  # Documentation: https://docs.openwebui.com/getting-started/env-configuration
  open-webui:
    container_name: open-webui
    image: ghcr.io/open-webui/open-webui:main
    restart: unless-stopped
    ports:
      - "2139:8080"
    networks:
      open-webui:
        ipv4_address: "10.24.39.2"
      mcp-gateways:
        ipv4_address: "10.24.43.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      ENV: "prod"
      # ENABLE_SIGNUP: "True"
      WEBUI_AUTH: "True"
      WEBUI_SECRET_KEY: "${WEBUI_SECRET_KEY}"
      # WEBUI_ADMIN_EMAIL: "${WEBUI_ADMIN_EMAIL}"
      # WEBUI_ADMIN_PASSWORD: "${WEBUI_ADMIN_PASSWORD}"
      # WEBUI_NAME: "Open WebUI"
      # OLLAMA_BASE_URL: 'http://ollama:11434'
      OPENAI_API_BASE_URL: "http://litellm:4000/v1"
      OPENAI_API_KEY: "${LITELLM_MASTER_KEY}"
      ENABLE_IMAGE_GENERATION: "True"
      IMAGE_GENERATION_ENGINE: "openai"
      IMAGE_GENERATION_MODEL: "gpt-image-1"
      DATABASE_URL: "postgresql://openwebui:${OPENWEBUI_POSTGRES_PASSWORD}@ai-hub-postgres:5432/openwebui"
      # DATABASE_ENABLE_SESSION_SHARING: true
      # REDIS_URL: "redis://default:${REDIS_PASSWORD}@redis:6379/0" # not needed for single instance deployments
      ENABLE_LITELLM: "True"
      LITELLM_PROXY_PORT: "4000"
      LITELLM_PROXY_HOST: "litellm"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=OpenWebUI"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/open-webui/open-webui/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - open-webui-data:/app/backend/data
    depends_on:
      - ai-hub-postgres

  # Docker Hub: https://hub.docker.com/_/postgres
  # Github: https://github.com/postgres/postgres
  # Homepage: https://www.postgresql.org
  ai-hub-postgres:
    container_name: ai-hub-postgres
    image: postgres:18-alpine
    restart: unless-stopped
    networks:
      open-webui:
        ipv4_address: "10.24.39.3"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      LANG: "de_DE.utf8"
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=de-DE"
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: postgres
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=LiteLLM - Postgres"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^\\d+$"
      - "wud.link.template=https://www.postgresql.org/docs/release/$${major}.$${minor}"
    volumes:
      - ai-hub-postgres-data:/var/lib/postgresql

  # Github: https://github.com/berriai/litellm
  # Docs: https://docs.litellm.ai/docs/
  litellm:
    container_name: litellm
    image: ghcr.io/berriai/litellm:main-stable
    restart: unless-stopped
    networks:
      open-webui:
        ipv4_address: "10.24.39.4"
      mcp-gateways:
        ipv4_address: "10.24.43.3"
    ports:
      - "2439:4000"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      PORT: "4000"
      LITELLM_MASTER_KEY: "${LITELLM_MASTER_KEY}"
      LITELLM_SALT_KEY: "${LITELLM_SALT_KEY}"
      UI_USERNAME: "admin"
      UI_PASSWORD: "${UI_PASSWORD}"
      DATABASE_URL: "postgresql://litellm:${LITELLM_POSTGRES_PASSWORD}@ai-hub-postgres:5432/litellm"
      STORE_MODEL_IN_DB: "True"
      CONFIG_FILE: "/app/config/config.yaml"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=LiteLLM"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/BerriAI/litellm/releases"
    volumes:
      - litellm-conf:/app/config
    depends_on:
      - ai-hub-postgres

  # Github: https://github.com/open-webui/mcpo
  mcpo:
    container_name: mcpo
    image: ghcr.io/open-webui/mcpo:main
    restart: unless-stopped
    command:
      [
        "--port",
        "8000",
        "--server-type",
        "streamable-http",
        "--",
        "uvx",
        "mcp-server-time",
        "--local-timezone",
        "Europe/Berlin",
      ]
    # ports:
    #   - "8000:8000"
    networks:
      open-webui:
        ipv4_address: "10.24.39.5"
      mcp-gateways:
        ipv4_address: "10.24.43.4"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=OpenWebUI - MCPo"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/open-webui/mcpo/releases/tag/v$${major}.$${minor}.$${patch}"

networks:
  open-webui:
    name: open-webui
    ipam:
      driver: default
      config:
        - subnet: "10.24.39.0/24"
          gateway: "10.24.39.1"
  mcp-gateways:
    name: mcp-gateways
    external: true

volumes:
  open-webui-data:
    name: open-webui-data
  litellm-conf:
    name: litellm-conf
  ai-hub-postgres-data:
    name: ai-hub-postgres-data
