services:
  # Docker Hub: https://hub.docker.com/r/matrixdotorg/
  # Github: https://github.com/element-hq/synapse
  synapse:
    container_name: synapse
    image: matrixdotorg/synapse:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.2"
    ports:
      - "8008:8008"
    # - '8448:8448'
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
      SYNAPSE_CONFIG_DIR: "/data"
      SYNAPSE_CONFIG_PATH: "/data/homeserver.yaml"
      SYNAPSE_DATA_DIR: "/data"
      SYNAPSE_WORKER: "synapse.app.homeserver"
      UID: "991"
      GID: "991"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Synapse"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/element-hq/synapse/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - synapse-data:/data
      - /opt/docker/config-files/synapse/shared_secret_authenticator.py:/usr/local/lib/python3.8/site-packages/shared_secret_authenticator.py
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://localhost:8008/health"]
      interval: 1m
      timeout: 10s
      retries: 3

  # Docker Hub: https://hub.docker.com/_/postgres
  synapse-postgres:
    container_name: synapse-postgres
    image: postgres:18-alpine
    restart: always
    # ports:
    #   - '5432:5432'
    networks:
      synapse:
        ipv4_address: "10.20.144.3"
    environment:
      TZ: "Europe/Berlin"
      LANG: "de_DE.utf8"
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=de-DE"
      POSTGRES_DB: "synapse"
      POSTGRES_USER: "synapse"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Synapse - Postgres"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^18-alpine$"
      - "wud.link.template=https://www.postgresql.org/docs/release/$${major}.$${minor}"
    volumes:
      - synapse-postgres-data:/var/lib/postgresql

  # Docker Hub: https://hub.docker.com/_/redis
  synapse-redis:
    container_name: synapse-redis
    image: redis:8-alpine
    restart: always
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"] # username = default
    # ports:
    #     - 6379:6379
    networks:
      synapse:
        ipv4_address: "10.20.144.4"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Synapse - Redis"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - synapse-redis-data:/data

  # Docker Hub: https://hub.docker.com/r/vectorim/element-web
  # Github: https://github.com/element-hq/element-web
  element-web:
    container_name: element-web
    image: vectorim/element-web:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.5"
    ports:
      - "2209:80"
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Element Web"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/element-hq/element-web/releases/tag/v$${major}.$${minor}.$${patch}"
    # volumes:
    #     - /opt/docker/config-files/element-web/config.json:/app/config.json
    depends_on:
      - synapse

  # Docker Hub: https://hub.docker.com/r/mautrix/maubot
  # Github: https://github.com/maubot/maubot
  maubot:
    container_name: maubot
    image: dock.mau.dev/maubot/maubot:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.16"
    ports:
      - "29316:29316"
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Maubot"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/maubot/maubot/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - maubot-data:/data:z

  # Docker Hub: https://hub.docker.com/r/mautrix/telegram
  # Github: https://github.com/mautrix/telegram
  mautrix-telegram:
    container_name: mautrix-telegram
    image: dock.mau.dev/mautrix/telegram:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.17"
    # ports:
    #   - '29317:29317'
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Mautrix Telegram"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/mautrix/telegram/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - mautrix-telegram-data:/data:z

  # Docker Hub: https://hub.docker.com/r/mautrix/whatsapp
  # Github: https://github.com/mautrix/whatsapp
  mautrix-whatsapp:
    container_name: mautrix-whatsapp
    image: dock.mau.dev/mautrix/whatsapp:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.18"
    # ports:
    #   - '29318:29318'
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Mautrix WhatsApp"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/mautrix/whatsapp/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - mautrix-whatsapp-data:/data:z

  # Docker Hub: https://hub.docker.com/r/signald/signald
  signald:
    container_name: signald
    image: signald/signald:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.28"
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Signald"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
    volumes:
      - signald-data:/signald:z
      # - signald-gradle:/opt/gradle/.gradle

  # Docker Hub: https://hub.docker.com/r/mautrix/signal
  # Github: https://github.com/mautrix/signal
  mautrix-signal:
    container_name: mautrix-signal
    image: dock.mau.dev/mautrix/signal:latest
    restart: unless-stopped
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
    networks:
      synapse:
        ipv4_address: "10.20.144.128"
    # ports:
    #   - '29328:29328'
    dns: ["192.168.40.253"]
    environment:
      TZ: Europe/Berlin
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Mautrix Signal"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/mautrix/signal/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - signald-data:/var/run/signald
      - mautrix-signal-data:/data:z
    depends_on:
      - signald

  # Docker Hub: https://hub.docker.com/r/mautrix/wsproxy
  # Github: https://github.com/mautrix/wsproxy
  mautrix-wsproxy:
    container_name: mautrix-wsproxy
    image: dock.mau.dev/mautrix/wsproxy:latest
    restart: unless-stopped
    networks:
      synapse:
        ipv4_address: "10.20.144.131"
    ports:
      - "29331:29331"
    dns: ["192.168.40.253"]
    environment:
      LISTEN_ADDRESS: ":29331"
      APPSERVICE_ID: "imessage"
      AS_TOKEN: "${AS_TOKEN}"
      HS_TOKEN: "${HS_TOKEN}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Mautrix WSProxy"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/mautrix/wsproxy/releases/tag/v$${major}.$${minor}.$${patch}"

networks:
  synapse:
    name: synapse
    ipam:
      driver: default
      config:
        - subnet: "10.20.144.0/20"
          gateway: "10.20.144.1"

volumes:
  synapse-data:
    name: synapse-data
  synapse-postgres-data:
    name: synapse-postgres-data
  synapse-redis-data:
    name: synapse-redis-data
  maubot-data:
    name: maubot-data
  mautrix-telegram-data:
    name: mautrix-telegram-data
  mautrix-whatsapp-data:
    name: mautrix-whatsapp-data
  mautrix-signal-data:
    name: mautrix-signal-data
  signald-data:
    name: signald-data
  signald-gradle:
    name: signald-gradle
