services:
  # Docker Hub: https://hub.docker.com/_/rocket-chat
  rocketchat:
    container_name: rocketchat
    image: rocketchat/rocket.chat:7.13.1
    restart: unless-stopped
    networks:
      rocketchat:
        ipv4_address: "10.20.192.2"
    ports:
      - "3000:3000"
    volumes:
      - rocketchat-uploads:/app/uploads
    environment:
      PORT: "3000"
      ROOT_URL: "https://chat.3x3cut0r.de/"
      MONGO_URL: "mongodb://rocketchat:${MONGO_PASSWORD}@mongo:27017/rocketchat?replicaSet=rs0"
      MONGO_OPLOG_URL: "mongodb://rocketchat:${MONGO_PASSWORD}@mongo:27017/local?replicaSet=rs0"
      DEPLOY_METHOD: "docker"
      DEPOY_PLATFORM: "compose"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Rocket.Chat"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^\\d+\\.\\d+\\.\\d+$"
      - "wud.link.template=https://github.com/RocketChat/Rocket.Chat/releases/tag/$${major}.$${minor}.$${patch}"
    depends_on:
      - mongo

  # Docker Hub: https://hub.docker.com/_/mongo
  # Github: https://github.com/mongodb/mongo
  mongo:
    container_name: mongo
    image: mongo:8.0-noble
    restart: unless-stopped
    command: ["mongod","--replSet","rs0","--bind_ip_all","--port","27017","--auth","--keyFile","/etc/mongo-keyfile","--wiredTigerCacheSizeGB","1"]
    networks:
      rocketchat:
        ipv4_address: "10.20.192.3"
    # ports:
    #     - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_ROOT_PASSWORD}"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Rocket.Chat - MongoDB"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.tag.include=^8\\.0-noble$"
      - "wud.link.template=https://www.mongodb.com/docs/manual/release-notes/$${major}.$${minor}/#std-label-release-notes-$${major}.$${minor}"
    volumes:
      - mongo-data:/data/db
      - /opt/docker/config-files/mongo/mongo-keyfile:/etc/mongo-keyfile:ro

  # Docker Hub: https://hub.docker.com/_/mongo
  # Github: https://github.com/mongodb/mongo
  # this container's job is just run the command to initialize the replica set.
  # it will run the command and remove himself (it will not stay running)
  # mongo-init:
  #   container_name: mongo-init
  #   image: mongo:8.0-noble
  #   restart: "no"
  #   command: >
  #     "mongosh --host mongo:27017 --quiet --eval '
  #       try { if (rs.status().ok === 1) { print(\"rs0 already initialized\"); quit(0); } } catch (e) {}
  #       rs.initiate({_id:\"rs0\", members:[{_id:0, host:\"mongo:27017\"}]});
  #       print(\"rs0 initiated\");
  #     '"
  #   networks:
  #     rocketchat:
  #       ipv4_address: 10.20.192.99
  #   entrypoint: ["/bin/bash","-lc"]
  #   labels:
  #     - "wud.watch=true"
  #     - "wud.watch.digest=true"
  #     - "wud.display.name=Rocket.Chat - MongoDB Initiate"
  #     - "wud.trigger.exclude=docker.autoupdate"
  #     - "wud.tag.include=^8\\.0-noble$"
  #     - "wud.link.template=https://www.mongodb.com/docs/manual/release-notes/$${major}.$${minor}/#std-label-release-notes-$${major}.$${minor}"
  #   volumes:
  #     - mongo-data:/data/db
  #   depends_on:
  #     mongo:
  #       condition: service_healthy

  # Docker Hub: https://hub.docker.com/r/rocketchat/hubot-rocketchat
  # Github: https://github.com/hubotio/hubot
  # hubot, the popular chatbot (add the bot user first and change the password before starting this image)
  hubot:
    container_name: hubot
    image: rocketchat/hubot-rocketchat:latest
    restart: unless-stopped
    networks:
      rocketchat:
        ipv4_address: "10.20.192.4"
    # this is used to expose the hubot port for notifications on the host on port 3001, e.g. for hubot-jenkins-notifier
    # ports:
    #     - 3001:8080
    environment:
      ROCKETCHAT_URL: "rocketchat:3000"
      ROCKETCHAT_ROOM: ""
      ROCKETCHAT_USER: "hubot.bot"
      ROCKETCHAT_PASSWORD: "${HUBOT_PASSWORD}"
      BOT_NAME: "hubot"
      RESPOND_TO_DM: "true"
      LISTEN_ON_ALL_PUBLIC: "true" # DEPRICATED
      HUBOT_GOOGLE_CSE_ID: "${GOOGLE_CSE_ID}" # Instructions here: https://github.com/hubot-scripts/hubot-google-images
      HUBOT_GOOGLE_CSE_KEY: "${GOOGLE_CSE_KEY}"
      HUBOT_GOOGLE_IMAGES_HEAR: "true"
      # you can add more scripts as you'd like here, they need to be installable by npm
      EXTERNAL_SCRIPTS: "hubot-pugme,hubot-help,hubot-seen,hubot-links,hubot-diagnostics,hubot-calculator,hubot-2048,hubot-darts,hubot-thesimpsons,hubot-tell,hubot-google-images"
    volumes:
      - hubot-scripts:/home/hubot/
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Rocket.Chat - Hubot"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/hubotio/hubot/releases/tag/v$${major}.$${minor}.$${patch}"
    depends_on:
      - rocketchat

networks:
  rocketchat:
    name: rocketchat
    ipam:
      driver: default
      config:
        - subnet: "10.20.192.0/20"
          gateway: "10.20.192.1"

volumes:
  rocketchat-uploads:
    name: rocketchat-uploads
  mongo-data:
    name: mongo-data
  hubot-scripts:
    name: hubot-scripts
