services:
  # Docker Hub: https://hub.docker.com/_/postgres
  # Github: https://github.com/postgres/postgres
  # Homepage: https://www.postgresql.org
  postgres:
    container_name: postgres
    image: postgres:15-alpine
    restart: always
    networks:
      postgres:
        ipv4_address: "10.20.16.2"
    # ports:
    #   - '5432:5432'
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Postgres"
      - "wud.link.template=https://www.postgresql.org/docs/release/$${major}.$${minor}"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # Docker Hub: https://hub.docker.com/r/dpage/pgadmin4
  # Github: https://github.com/pgadmin-org/pgadmin4
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    networks:
      postgres:
        ipv4_address: "10.20.16.3"
    ports:
      - "5050:5050"
    environment:
      PGADMIN_DEFAULT_EMAIL: "julianreith@gmx.de"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "True"
      PGADMIN_LISTEN_PORT: "5050"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=PGAdmin"
      - "wud.link.template=https://www.pgadmin.org/news/"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      # - pgadmin-certs:/certs

  # Docker Hub: https://hub.docker.com/_/adminer
  adminer:
    container_name: adminer
    image: adminer:latest
    restart: unless-stopped
    networks:
      postgres:
        ipv4_address: "10.20.16.4"
    ports:
      - "2201:8080"

networks:
  postgres:
    name: postgres
    ipam:
      driver: default
      config:
        - subnet: "10.20.16.0/20"
          gateway: "10.20.16.1"

volumes:
  postgres-data:
    name: postgres-data
  pgadmin-data:
    name: pgadmin-data
  # pgadmin-certs:
  # name: pgadmin-certs
