services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/pidgin
  # Github: https://github.com/linuxserver/docker-pidgin
  pidgin:
    container_name: pidgin
    image: lscr.io/linuxserver/pidgin:latest
    restart: unless-stopped
    ports:
      - "2125:3000"
    networks:
      pidgin:
        ipv4_address: "10.24.25.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      # PUID: "1000"
      # PGID: "1000"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Pidgin"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/linuxserver/docker-pidgin/releases"
    volumes:
      - pidgin-conf:/config

networks:
  pidgin:
    name: pidgin
    ipam:
      driver: default
      config:
        - subnet: "10.24.25.0/24"
          gateway: "10.24.25.1"

volumes:
  pidgin-conf:
    name: pidgin-conf
