services:
  # Docker Hub: https://hub.docker.com/r/bitnami/appsmith
  # Github: https://github.com/appsmithorg/appsmith
  appsmith:
    container_name: appsmith
    image: docker.io/bitnami/appsmith:1
    restart: unless-stopped
    ports:
      - "2132:8080"
    networks:
      appsmith:
        ipv4_address: "10.24.32.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      APPSMITH_MODE: "client"
      APPSMITH_API_HOST: "appsmith-api"
      APPSMITH_RTS_HOST: "appsmith-rts"
      APPSMITH_UI_HTTP_PORT: "8080"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Appsmith"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/appsmithorg/appsmith/releases/tag/v$${major}.$${minor}"
    depends_on:
      - appsmith-api
      - appsmith-rts

  # Docker Hub: https://hub.docker.com/r/bitnami/appsmith
  appsmith-api:
    container_name: appsmith-api
    image: docker.io/bitnami/appsmith:1
    restart: unless-stopped
    # ports:
    #   - '3000:3000'
    #   - '8080:8080'
    #   - '8091:8091'
    #   - '8443:8443'
    networks:
      appsmith:
        ipv4_address: "10.24.32.3"
    dns: ["192.168.40.253"]
    environment:
      APPSMITH_MODE: "backend"
      BITNAMI_DEBUG: true
      APPSMITH_API_HOST: "appsmith-api"
      APPSMITH_USERNAME: "${APPSMITH_USERNAME}" # -> admin username
      APPSMITH_PASSWORD: "${APPSMITH_PASSWORD}" # -> admin password (required for login)
      APPSMITH_EMAIL: "${APPSMITH_EMAIL}" # -> admin email (required for login)
      APPSMITH_DATABASE_HOST: "appsmith-mongodb,appsmith-mongodb-secondary" # mongodb,mongodb-secondary
      APPSMITH_DATABASE_PORT_NUMBER: 27017
      APPSMITH_DATABASE_USER: "appsmith"
      APPSMITH_DATABASE_NAME: "appsmith"
      APPSMITH_DATABASE_PASSWORD: "${MONGODB_PASSWORD}"
      APPSMITH_REDIS_HOST: "appsmith-redis"
      APPSMITH_REDIS_PORT_NUMBER: "6379"
      APPSMITH_REDIS_PASSWORD: "${REDIS_PASSWORD}" # do not use special characters!
      APPSMITH_ENCRYPTION_PASSWORD: "${APPSMITH_ENCRYPTION_PASSWORD}"
      APPSMITH_ENCRYPTION_SALT: "${APPSMITH_ENCRYPTION_SALT}" # do not use special characters!
      APPSMITH_DATABASE_INIT_DELAY: 90 # Hack: This is only necessary in docker-compose
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Appsmith API"
      - "wud.trigger.include=docker.autoupdate"
    volumes:
      - appsmith-api-data:/bitnami/appsmith
    depends_on:
      - appsmith-mongodb
      - appsmith-redis

  # Docker Hub: https://hub.docker.com/r/bitnami/appsmith
  appsmith-rts:
    container_name: appsmith-rts
    image: docker.io/bitnami/appsmith:1
    restart: unless-stopped
    # ports:
    #   - '3000:3000'
    #   - '8080:8080'
    #   - '8091:8091'
    #   - '8443:8443'
    networks:
      appsmith:
        ipv4_address: "10.24.32.4"
    dns: ["192.168.40.253"]
    environment:
      APPSMITH_MODE: "rts"
      APPSMITH_API_HOST: "appsmith-api"
      APPSMITH_DATABASE_HOST: "appsmith-mongodb,appsmith-mongodb-secondary" # mongodb,mongodb-secondary
      APPSMITH_DATABASE_PORT_NUMBER: 27017
      APPSMITH_DATABASE_USER: "appsmith"
      APPSMITH_DATABASE_NAME: "appsmith"
      APPSMITH_DATABASE_PASSWORD: "${MONGODB_PASSWORD}"
      APPSMITH_DATABASE_INIT_DELAY: 60 # Hack: This is only necessary in docker-compose
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Appsmith RTS"
      - "wud.trigger.include=docker.autoupdate"
    depends_on:
      - appsmith-mongodb

  # Docker Hub: https://hub.docker.com/_/redis
  # Github: https://github.com/redis/redis
  appsmith-redis:
    container_name: appsmith-redis
    image: docker.io/bitnami/redis:7.0
    restart: unless-stopped
    # ports:
    #   - '6379:6379'
    networks:
      appsmith:
        ipv4_address: "10.24.32.7"
    dns: ["192.168.40.253"]
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD}" # do not use special characters!
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Appsmith - Redis"
      - "wud.tag.include=^\\d+-alpine$"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - "appsmith-redis-data:/bitnami/redis"

  # Docker Hub: https://hub.docker.com/_/mongo
  # Github: https://github.com/mongodb/mongo
  appsmith-mongodb:
    container_name: appsmith-mongodb
    image: docker.io/bitnami/mongodb:7.0
    restart: unless-stopped
    # ports:
    #   - '27017:27017'
    networks:
      appsmith:
        ipv4_address: "10.24.32.27"
    dns: ["192.168.40.253"]
    environment:
      MONGODB_ADVERTISED_HOSTNAME: "appsmith-mongodb"
      MONGODB_USERNAME: "appsmith"
      MONGODB_DATABASE: "appsmith"
      MONGODB_PASSWORD: "${MONGODB_PASSWORD}"
      MONGODB_ROOT_PASSWORD: "${MONGODB_ROOT_PASSWORD}"
      MONGODB_REPLICA_SET_MODE: "primary"
      MONGODB_REPLICA_SET_KEY: "${MONGODB_REPLICA_SET_KEY}" # do not use special characters!
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Appsmith - MongoDB"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.link.template=https://www.mongodb.com/docs/manual/release-notes/$${major}.$${minor}/#std-label-release-notes-$${major}.$${minor}"
    volumes:
      - "appsmith-mongodb-data:/bitnami/mongodb"

  # Docker Hub: https://hub.docker.com/r/bitnami/mongodb
  appsmith-mongodb-secondary:
    container_name: appsmith-mongodb-secondary
    image: docker.io/bitnami/mongodb:7.0
    restart: unless-stopped
    # ports:
    #   - '27017:27017'
    networks:
      appsmith:
        ipv4_address: "10.24.32.127"
    dns: ["192.168.40.253"]
    environment:
      MONGODB_ADVERTISED_HOSTNAME: "appsmith-mongodb-secondary"
      MONGODB_REPLICA_SET_MODE: "secondary"
      MONGODB_INITIAL_PRIMARY_HOST: "appsmith-mongodb"
      MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD: "${MONGODB_ROOT_PASSWORD}"
      MONGODB_REPLICA_SET_KEY: "${MONGODB_REPLICA_SET_KEY}" # do not use special characters!
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Appsmith - MongoDB Secondary"
      - "wud.trigger.exclude=docker.autoupdate"
      - "wud.link.template=https://www.mongodb.com/docs/manual/release-notes/$${major}.$${minor}/#std-label-release-notes-$${major}.$${minor}"
    volumes:
      - "appsmith-mongodb-secondary-data:/bitnami/mongodb"
    depends_on:
      - appsmith-mongodb

networks:
  appsmith:
    name: appsmith
    ipam:
      driver: default
      config:
        - subnet: "10.24.32.0/24"
          gateway: "10.24.32.1"

volumes:
  appsmith-api-data:
    name: appsmith-api-data
  appsmith-redis-data:
    name: appsmith-redis-data
  appsmith-mongodb-data:
    name: appsmith-mongodb-data
  appsmith-mongodb-secondary-data:
    name: appsmith-mongodb-secondary-data
