services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/emulatorjs
  # Github: https://github.com/EmulatorJS/EmulatorJS
  emulatorjs:
    container_name: emulatorjs
    image: linuxserver/emulatorjs:amd64-latest
    restart: unless-stopped
    ports:
      - "2124:80"
      - "3000:3000" # Rom/artwork management interface
      - "4001:4001" # IPFS peering port for p2p
    networks:
      emulatorjs:
        ipv4_address: "10.24.24.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      # PUID: "1000"
      # PGID: "1000"
      # SUBFOLDER: "/"  #optional
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=EmulatorJS"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/EmulatorJS/EmulatorJS/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - emulatorjs-data:/data
      - emulatorjs-conf:/config

networks:
  emulatorjs:
    name: emulatorjs
    ipam:
      driver: default
      config:
        - subnet: "10.24.24.0/24"
          gateway: "10.24.24.1"

volumes:
  emulatorjs-data:
    name: emulatorjs-data
  emulatorjs-conf:
    name: emulatorjs-conf
