services:
  #############################
  # choose 1 service out of 2 #
  #############################

  # 1. jlesage/firefox
  #    -> container is using vnc
  #    -> you are unable to change KEYBOARD-LAYOUT
  #
  # Docker Hub: https://hub.docker.com/r/jlesage/firefox
  firefox-jlesage:
    container_name: firefox-jlesage
    image: jlesage/firefox:latest
    shm_size: 2gb
    restart: always
    networks:
      firefox:
        ipv4_address: "10.24.4.2"
    ports:
      - "5800:5800"
    # - '5900:5900'
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      VNC_PASSWORD: "${VNC_PASSWORD}"
      USER_ID: "1000"
      GROUP_ID: "1000"
      KEEP_APP_RUNNING: "1"
      DISPLAY_WIDTH: "1280"
      DISPLAY_HEIGHT: "800"
      CLEAN_TMP_DIR: "1"
      SECURE_CONNECTION: "0"
      SECURE_CONNECTION_CERTS_CHECK_INTERVAL: "0"
    volumes:
      - firefox-jlesage-data:/config

  # 2. linuxserver/firefox
  #    -> container is using rdp
  #    -> you are able to change KEYBOARD-LAYOUT
  #
  # Docker Hub: https://hub.docker.com/r/linuxserver/firefox
  # firefox-linuxserver:
  #   container_name: firefox-linuxserver
  #   image: linuxserver/firefox:latest
  #   security_opt:
  #     - seccomp:unconfined # optional
  #   shm_size: 2gb
  #   restart: always
  #   networks:
  #     firefox:
  #       ipv4_address: "10.24.4.3"
  #   ports:
  #     - "3000:3000"
  #   # - '3001:3001'
  #   dns: ["192.168.40.253"]
  #   environment:
  #     TZ: "Europe/Berlin"
  #     PUID: "1000"
  #     PGID: "1000"
  #     CUSTOM_PORT: "3000"
  #     CUSTOM_USER: "${CUSTOM_USER}"
  #     PASSWORD: "${PASSWORD}"
  #     TITLE: "Firefox"
  #     KEYBOARD: "de-de-qwertz" # see https://github.com/linuxserver/gclient#keyboard-layouts
  #     FM_HOME: "/config"
  #     DISPLAY_WIDTH: "1280"
  #     DISPLAY_HEIGHT: "800"
  #     CLEAN_TMP_DIR: "1"
  #     SECURE_CONNECTION: "0"
  #     SECURE_CONNECTION_CERTS_CHECK_INTERVAL: "0"
  #   volumes:
  #     - firefox-linuxserver-data:/config

networks:
  firefox:
    name: firefox
    ipam:
      driver: default
      config:
        - subnet: "10.24.4.0/24"
          gateway: "10.24.4.1"

volumes:
  firefox-jlesage-data:
    name: firefox-jlesage-data
  # firefox-linuxserver-data:
  #   name: firefox-linuxserver-data
