[Unit]
Description=timer to renew certbot certificates

[Timer]
OnCalendar=*-*-* 04:00:00
Unit=certbot-renewal.service
Persistent=true

[Install]
WantedBy=multi-user.target
