[Unit]
Description=timer to run docker image prune

[Timer]
OnCalendar=*-*-* 05:00:00
Unit=docker-image-prune.service
Persistent=true

[Install]
WantedBy=multi-user.target
