# https://github.com/elastic/beats/tree/master/filebeat
services:
  # https://hub.docker.com/r/elastic/filebeat
  filebeat:
    container_name: filebeat
    image: elastic/filebeat:8.7.0
    restart: unless-stopped
    user: root
    environment:
      TZ: 'Europe/Berlin'
      ELASTICSEARCH_HOSTS: 'elasticsearch:9200'
      ELASTICSEARCH_USERNAME: 'elastic'
      ELASTICSEARCH_PASSWORD: '<ELASTICSEARCH_PASSWORD>'
    volumes:
      - /opt/docker/config-files/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
