[general]
RemoteNickFormat = "[{PROTOCOL}] <{NICK}> "
MediaServerDownload = "https://mattermost.3x3cut0r.de"

[telegram.mytelegram]
# The token for mattermost_julz22x4_bot from BotFather.
Token = "<Telegram-Bot-Token>"
RemoteNickFormat = "[{NICK}] "

[mattermost.mymattermost]
Server = "mattermost:8065"
NoTLS = true
Token = "<Mattermost-Bot-Token>"
Team = "private"
RemoteNickFormat = "[{NICK}] "

[[gateway]]
name = "telegram-mattermost"
enable = true

  [[gateway.inout]]
  account = "telegram.mytelegram"
  channel = "-<Telegram-Group-ID>"

  [[gateway.inout]]
  account = "mattermost.mymattermost"
  channel = "ID:<Mattermost-Channel-ID>"
