services:
  send:
    container_name: send
    image: mozilla/send:v3.0.22
    restart: unless-stopped
    networks:
      send:
        ipv4_address: "10.24.8.2"
      redis-nopw:
        ipv4_address: "10.20.112.108"
    ports:
      - "1443:1443"
    dns: ["192.168.40.253"]
    environment:
      REDIS_HOST: "redis-nopw"
      MAX_FILE_SIZE: "2147483648"
      NODE_ENV: "production"
      BASE_URL: "https://send.3x3cut0r.de"

networks:
  send:
    name: send
    ipam:
      driver: default
      config:
        - subnet: "10.24.8.0/24"
          gateway: "10.24.8.1"
  redis-nopw:
    name: redis-nopw
    external: true
