services:
  # Docker Hub: https://hub.docker.com/r/linuxserver/code-server
  code-server:
    container_name: code-server
    image: linuxserver/code-server:latest
    restart: unless-stopped
    networks:
      code-server:
        ipv4_address: "10.24.18.2"
    ports:
      - "2118:8443"
      - "3118:3000" # for nodejs
    dns: ["192.168.40.253"]
    environment:
      # PUID: 1000
      # PGID: 1000
      TZ: "Europe/Berlin"
      PASSWORD: "${PASSWORD}" #optional
      # HASHED_PASSWORD: # <HASHED_PASSWORD> #optional: https://github.com/cdr/code-server/blob/main/docs/FAQ.md#can-i-store-my-password-hashed
      SUDO_PASSWORD: "${SUDO_PASSWORD}" #optional
      # SUDO_PASSWORD_HASH: # <SUDO_PASSWORD_HASH> #optional: https://github.com/cdr/code-server/blob/main/docs/FAQ.md#can-i-store-my-password-hashed
      PROXY_DOMAIN: "vscode.3x3cut0r.de" #optional
      # add mods to code-server. see available mod list here: https://github.com/linuxserver/docker-mods/blob/master/mod-list.yml
      DOCKER_MODS: "linuxserver/mods:code-server-flutter|linuxserver/mods:code-server-nodejs|linuxserver/mods:code-server-php8|linuxserver/mods:code-server-python3"
      NODEJS_MOD_VERSION: "22"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Code Server"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/linuxserver/docker-code-server/releases"
    volumes:
      - code-server:/config

networks:
  code-server:
    name: code-server
    ipam:
      driver: default
      config:
        - subnet: "10.24.18.0/24"
          gateway: "10.24.18.1"

volumes:
  code-server:
    name: code-server
