services:
  # Docker Hub: https://hub.docker.com/r/balabit/syslog-ng
  syslog-ng:
    container_name: syslog-ng
    image: balabit/syslog-ng:latest
    cap_add:
      - NET_BIND_SERVICE
    restart: always
    # ports:
    #   - 514:514/udp
    networks:
      syslog-ng:
        ipv4_address: "10.255.0.2"
    dns: ["192.168.40.253"]
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://10.255.0.2:514"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Syslog NG"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/syslog-ng/syslog-ng/releases/tag/syslog-ng-$${major}.$${minor}.$${patch}"
    volumes:
      - syslog-ng-logs:/var/log
      - syslog-ng-conf.d:/etc/syslog-ng/conf.d

networks:
  syslog-ng:
    name: syslog-ng
    ipam:
      driver: default
      config:
        - subnet: "10.255.0.0/16"
          gateway: "10.255.0.1"

volumes:
  syslog-ng-conf.d:
    name: syslog-ng-conf.d
  syslog-ng-logs:
    name: syslog-ng-logs
