# https://github.com/Mintplex-Labs/anything-llm/blob/master/docker/HOW_TO_USE_DOCKER.md#recommend-way-to-run-dockerized-anythingllm
services:
  # https://hub.docker.com/r/mintplexlabs/anythingllm
  anythingllm:
    container_name: anythingllm
    image: mintplexlabs/anythingllm:latest
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    ports:
      - "2135:3001"
    networks:
      anythingllm:
        ipv4_address: "10.24.35.2"
    dns: ["192.168.40.253"]
    environment: # https://github.com/Mintplex-Labs/anything-llm/blob/master/docker/.env.example
      SERVER_PORT: 3001
      STORAGE_DIR: "/app/server/storage"
      UID: 1000
      GID: 1000
      GENERATE_SOURCEMAP: false
      VITE_API_BASE: "http://anythingllm.3x3cut0r.de/api"
      AUTH_TOKEN: "<AUTH_TOKEN>"
      JWT_SECRET: "<my-random-string-for-seeding>"
      # LLM API SElECTION
      LLM_PROVIDER: "openai"
      OPEN_AI_KEY: "<sk-1234>"
      OPEN_MODEL_PREF: "gpt-4-turbo-preview"
      # Embedding API SElECTION
      EMBEDDING_ENGINE: "openai"
      EMBEDDING_MODEL_PREF: "text-embedding-3-small"
      # Vector Database Selection
      VECTOR_DB: "qdrant"
      QDRANT_ENDPOINT: "http://qdrant:6333"
      # Audio Model Selection
      WHISPER_PROVIDER: "openai"
    volumes:
      - anythingllm-data:/app/server/storage
    depends_on:
      - qdrant

  # https://hub.docker.com/r/qdrant/qdrant
  # https://qdrant.tech/documentation/quick-start/
  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    restart: unless-stopped
    # ports:
    #   - '6333:6333'
    #   - '6334:6334'
    networks:
      anythingllm:
        ipv4_address: "10.24.35.3"
    dns: ["192.168.40.253"]
    volumes:
      - qdrant-data:/qdrant/storage

networks:
  anythingllm:
    name: anythingllm
    ipam:
      driver: default
      config:
        - subnet: "10.24.35.0/24"
          gateway: "10.24.35.1"

volumes:
  anythingllm-data:
    name: anythingllm-data
  qdrant-data:
    name: qdrant-data
