services:
  # Docker Hub: https://hub.docker.com/_/wordpress
  # Github: https://github.com/WordPress/WordPress
  wordpress:
    container_name: wordpress
    image: wordpress:latest
    restart: unless-stopped
    networks:
      wordpress:
        ipv4_address: "10.29.0.2"
    ports:
      - "2980:80"
    dns: ["192.168.40.253"]
    environment:
      WORDPRESS_DB_HOST: "wordpress-mariadb"
      WORDPRESS_DB_USER: "wordpress"
      WORDPRESS_DB_PASSWORD: "${WORDPRESS_DB_PASSWORD}"
      WORDPRESS_DB_NAME: "wordpress"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=WordPress"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/WordPress/wordpress-develop/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress-mariadb

  # Docker Hub: https://hub.docker.com/_/mariadb
  # Github: https://github.com/mariadb
  wordpress-mariadb:
    container_name: wordpress-mariadb
    image: mariadb:10-focal
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: unless-stopped
    networks:
      wordpress:
        ipv4_address: "10.29.0.3"
    dns: ["192.168.40.253"]
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      TZ: "Europe/Berlin"
    labels:
      - "wud.enable=false"
      - "wud.watch.digest=true"
      - "wud.display.name=WordPress - MariaDB"
      - "wud.link.template=https://mariadb.com/docs/release-notes/community-server/$${major}.$${minor}/$${major}.$${minor}.$${patch}"
    volumes:
      - wordpress-mariadb-data:/var/lib/mysql
      - wordpress-mariadb-conf:/etc/mysql/mariadb.conf.d

  # Docker Hub: https://hub.docker.com/_/phpmyadmin
  # Github: https://github.com/phpmyadmin/phpmyadmin
  wordpress-phpmyadmin:
    container_name: wordpress-phpmyadmin
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    networks:
      wordpress:
        ipv4_address: "10.29.0.4"
    ports:
      - "2900:80"
    dns: ["192.168.40.253"]
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      PMA_ARBITRARY: "1"
      PMA_HOST: "wordpress-mariadb"
      PMA_VERBOSE: "wordpress-mariadb"
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=WordPress - phpMyAdmin"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/phpmyadmin/docker/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - /opt/docker/config-files/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php:ro
      - /opt/docker/config-files/phpmyadmin/php.ini:/usr/local/etc/php/conf.d/php.ini:ro

networks:
  wordpress:
    name: wordpress
    ipam:
      driver: default
      config:
        - subnet: "10.29.0.0/20"
          gateway: "10.29.0.1"

volumes:
  wordpress-mariadb-conf:
    name: wordpress-mariadb-conf
  wordpress-mariadb-data:
    name: wordpress-mariadb-data
  wordpress:
    name: wordpress
