services:
  # Docker Hub: https://hub.docker.com/_/nginx
  # Github: https://github.com/nginx/nginx
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "2100:80"
      # - '4100:443'
    networks:
      nginx:
        ipv4_address: "10.24.0.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Nginx"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/nginx/nginx/releases/tag/release-$${major}.$${minor}.$${patch}"
    volumes:
      - nginx-html:/var/www/html
      - nginx-conf.d:/etc/nginx/conf.d
    depends_on:
      - php-fpm

  # Docker Hub: https://hub.docker.com/r/jc21/nginx-proxy-manager
  # Github: https://github.com/NginxProxyManager/nginx-proxy-manager
  nginx-proxy-manager:
    container_name: nginx-proxy-manager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80" # Public HTTP Port
      - "443:443" # Public HTTPS Port
      - "81:81" # Admin Web Port
    networks:
      nginx:
        ipv4_address: "10.24.0.3"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Nginx Proxy Manager"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^latest$"
      - "wud.link.template=https://github.com/NginxProxyManager/nginx-proxy-manager/releases/tag/v$${major}.$${minor}.$${patch}"
    volumes:
      - nginx-proxy-manager-data:/data
      - nginx-proxy-manager-letsencrypt:/etc/letsencrypt

  # Docker Hub: https://hub.docker.com/_/php
  # Github: https://github.com/php/php-src
  php-fpm:
    container_name: php-fpm
    image: php:8-fpm-alpine
    restart: always
    networks:
      nginx:
        ipv4_address: "10.24.0.4"
    ports:
      - "9000:9000"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=PHP-FPM"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.tag.include=^\\d+-fpm-alpine$"
      - "wud.link.template=https://github.com/php/php-src/releases/tag/php-$${major}.$${minor}.$${patch}"
    volumes:
      - nginx-html:/var/www/html

networks:
  nginx:
    name: nginx
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "10.24.0.0/24"
          gateway: "10.24.0.1"

volumes:
  nginx-html:
    name: nginx-html
  nginx-conf.d:
    name: nginx-conf.d
  nginx-proxy-manager-data:
    name: nginx-proxy-manager-data
  nginx-proxy-manager-letsencrypt:
    name: nginx-proxy-manager-letsencrypt
