services:
  # Docker Hub: https://hub.docker.com/_/redis
  # Github: https://github.com/redis/redis
  redis:
    container_name: redis
    image: redis:8-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"] # username = default
    restart: always
    networks:
      redis:
        ipv4_address: "10.20.96.2"
    # ports:
    #     - 6379:6379
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Redis"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - redis-data:/data

  # Docker Hub: https://hub.docker.com/_/redis
  # Github: https://github.com/redis/redis
  redis-nopw:
    container_name: redis-nopw
    image: redis:8-alpine
    restart: always
    networks:
      redis-nopw:
        ipv4_address: "10.20.112.2"
    # ports:
    #     - 6379:6379
    labels:
      - "wud.enable=true"
      - "wud.watch.digest=true"
      - "wud.display.name=Redis NoPW"
      - "wud.link.template=https://github.com/redis/redis/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - redis-nopw-data:/data

networks:
  redis:
    name: redis
    ipam:
      driver: default
      config:
        - subnet: "10.20.96.0/20"
          gateway: "10.20.96.1"
  redis-nopw:
    name: redis-nopw
    ipam:
      driver: default
      config:
        - subnet: "10.20.112.0/20"
          gateway: "10.20.112.1"

volumes:
  redis-data:
    name: redis-data
  redis-nopw-data:
    name: redis-nopw-data
