services:
  # Docker Hub: https://hub.docker.com/r/rustdesk/rustdesk-server
  # Homepage: https://rustdesk.com/docs/en/self-host/rustdesk-server-oss/docker/
  hbbs:
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    restart: unless-stopped
    command: hbbs -r rustdesk-relay.3x3cut0r.de -R rustdesk.3x3cut0r.de --mask 192.168.0.0/16
    network_mode: host
    dns: ["192.168.40.253"]
    volumes:
      - rustdesk-data:/root
    depends_on:
      - hbbr

  # Docker Hub: https://hub.docker.com/r/rustdesk/rustdesk-server
  hbbr:
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    restart: unless-stopped
    command: hbbr
    network_mode: host
    volumes:
      - rustdesk-data:/root

volumes:
  rustdesk-data:
    name: rustdesk-data
