services:
  # Docker Hub: https://hub.docker.com/r/getwud/wud
  # Documentation: https://getwud.github.io/wud/#/?id=introduction
  whatsupdocker:
    container_name: whatsupdocker
    image: getwud/wud:latest
    restart: always
    ports:
      - "2103:3000"
    networks:
      whatsupdocker:
        ipv4_address: "10.24.3.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      WUD_WATCHER_LOCAL_CRON: 0 2 * * * # Cron schedule for local image watcher (every day at 02:00)
      WUD_AUTH_BASIC_ADMIN_USER: "admin" # Change username in variablename (WUD_AUTH_BASIC_<USERNAME>_USER and WUD_AUTH_BASIC_<USERNAME>_HASH)
      WUD_AUTH_BASIC_ADMIN_HASH: # $$apr1$$aefKbZEa$$ZSA5Y3zv9vDQOxr283NGx/ # htpasswd -nib admin <PASSWORD> (double the first 2 '$' signs and do nt add single or double quotes around the hash)
      WUD_REGISTRY_HUB_PUBLIC_LOGIN: "3x3cut0r" # Your Docker Hub username (Docker Hub login is required to avoid rate limits)
      WUD_REGISTRY_HUB_PUBLIC_PASSWORD: # <WUD_REGISTRY_HUB_PUBLIC_PASSWORD> # Your Docker Hub password or Personal access token
      WUD_WATCHER_LOCAL_WATCHALL: true # Watch all containers regardless of their status (created, paused, exited, restarting, running...)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - whatsupdocker-data:/store

networks:
  whatsupdocker:
    name: whatsupdocker
    ipam:
      driver: default
      config:
        - subnet: "10.24.3.0/24"
          gateway: "10.24.3.1"

volumes:
  whatsupdocker-data:
    name: whatsupdocker-data
