services:
  # Docker Hub: https://hub.docker.com/r/getwud/wud
  # Documentation: https://getwud.github.io/wud/#/?id=introduction
  whatsupdocker:
    container_name: whatsupdocker
    image: getwud/wud:latest
    restart: always
    ports:
      - "2103:3000"
    networks:
      whatsupdocker:
        ipv4_address: "10.24.3.2"
    dns: ["192.168.40.253"]
    environment:
      TZ: "Europe/Berlin"
      WUD_AUTH_BASIC_ADMIN_USER: "admin" # Change username in variablename (WUD_AUTH_BASIC_<USERNAME>_USER and WUD_AUTH_BASIC_<USERNAME>_HASH)
      WUD_AUTH_BASIC_ADMIN_HASH: "${WUD_AUTH_BASIC_ADMIN_HASH}" # $$apr1$$aefKbZEa$$ZSA5Y3zv9vDQOxr283NGx/ # htpasswd -nib admin <PASSWORD> (double the first 2 '$' signs and do nt add single or double quotes around the hash)
      WUD_REGISTRY_HUB_PUBLIC_LOGIN: "3x3cut0r" # Your Docker Hub username (Docker Hub login is required to avoid rate limits)
      WUD_REGISTRY_HUB_PUBLIC_PASSWORD: "${WUD_REGISTRY_HUB_PUBLIC_PASSWORD}" # Your Docker Hub password or Personal access
      WUD_REGISTRY_GHCR_IO_USERNAME: "3x3cut0r" # Your GitHub username
      WUD_REGISTRY_GHCR_IO_TOKEN: "${WUD_REGISTRY_GHCR_IO_TOKEN}" # Your GitHub Personal Access Token (with read:packages scope)
      WUD_WATCHER_LOCAL_SOCKET: "/var/run/docker.sock"
      WUD_WATCHER_LOCAL_CRON: 0 2 * * * # Cron schedule for local image watcher (every day at 02:00)
      WUD_WATCHER_LOCAL_WATCHALL: false # If true, watch all containers regardless of their status (created, paused, exited, restarting, running...)
      WUD_WATCHER_NPM_HOST: nginx-proxy-manager # Watch a remote docker host via TCP on 2375
      WUD_WATCHER_NPM_CRON: 0 2 * * *
      WUD_WATCHER_NPM_WATCHALL: false # If true, watch all containers regardless of their status (created, paused, exited, restarting, running...)
      # WUD_WATCHER_BBB_HOST: bigbluebutton # Watch a remote docker host via TCP on 2375
      # WUD_WATCHER_BBB_CRON: 0 2 * * *
      # WUD_WATCHER_BBB_WATCHALL: false # If true, watch all containers regardless of their status (created, paused, exited, restarting, running...)
      WUD_TRIGGER_DOCKER_LOCAL_AUTO: false # Enable MANUAL updates for containers with label 'wud.watch=true'
      WUD_TRIGGER_DOCKER_LOCAL_PRUNE: true # Remove old images after updating containers with label 'wud.watch=true'
      WUD_TRIGGER_DOCKER_LOCAL_DRYRUN: false # Do not perform a dry run, actually update containers with label 'wud.watch=true'
      WUD_TRIGGER_DOCKER_AUTOUPDATE_AUTO: true # Enable AUTO updates for containers with label 'wud.trigger.include: docker.autoupdate'
      WUD_TRIGGER_DOCKER_AUTOUPDATE_PRUNE: true # Remove old images after updating containers with label 'wud.trigger.include: docker.autoupdate'
      WUD_TRIGGER_DOCKER_AUTOUPDATE_DRYRUN: false # Do not perform a dry run, actually update containers with label 'wud.trigger.include: docker.autoupdate'
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.display.name=WhatsUpDocker"
      - "wud.trigger.include=docker.autoupdate"
      - "wud.link.template=https://github.com/getwud/wud/releases/tag/$${major}.$${minor}.$${patch}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - whatsupdocker-data:/store

networks:
  whatsupdocker:
    name: whatsupdocker
    ipam:
      driver: default
      config:
        - subnet: "10.24.3.0/24"
          gateway: "10.24.3.1"

volumes:
  whatsupdocker-data:
    name: whatsupdocker-data
